<div id="o_main" class="$mainCssClasses row">
#if($existsCol1 && $r.visible("col1"))
	<div id="o_main_left" style="$!col1CustomCSSStyles">
		<div id="o_main_left_content" class="clearfix"> 
			$r.render("col1")	
		</div>
		<div id="o_main_left_toggle" class="hidden-print">
		  <span class="sr-only">Toggle content menu</span>
		  <i class="o_icon o_icon_menuhandel"></i>
		</div>
	</div>
#end
#if($existsCol2 && $r.visible("col2"))	
	<div id="o_main_right" style="$!col2CustomCSSStyles">
		<div id="o_main_right_content" class="clearfix"> 
			$r.render("col2")
		</div>
	</div>
#end
#if($existsCol3 && $r.visible("col3"))	
	<div id="o_main_center"> ## style="$!col3CustomCSSStyles1 $!col3CustomCSSStyles2">
		<a id="o_content" aria-hidden="true"></a> 
		<div id="o_main_center_content" class="clearfix o_scrollblock">			          
	       	<div id="o_main_center_content_inner">
				$r.render("col3")		
			</div>
		</div>
	</div>
#end
</div>
#if(($existsCol1 && $r.visible("col1")) || ($existsCol2 && $r.visible("col2")))
<script>
jQuery().ready(function() {
	// Main vertical splitter, anchored to the browser window
#if($existsCol1 && $r.visible("col1"))
	
	jQuery("#o_main_left").resizable({
        handles: 'e',
        containment: '#o_main',
	    grid: [o_info.emPxFactor, 10000],
	    start: function() {
	    	var leftCol = jQuery('#o_main_left');
			var oldEmWidth = Math.round(leftCol.width() / o_info.emPxFactor);
			menuState.origWidth=oldEmWidth;
	    },
	    stop: function() {
	    	var leftCol = jQuery('#o_main_left');
			var newEmWidth = Math.round(leftCol.width() / o_info.emPxFactor);
			leftCol.width(newEmWidth + 'em');
			$r.openNoResponseJavaScriptCommand("saveCol1Width"), "newEmWidth", newEmWidth);
			if (menuState.docked) {
				## add an indicator that the user understand how to upen the menu again
				if (newEmWidth <= 2) {
					jQuery('#o_main_left_toggle').show();				
					menuState.minimized = true;
				} else {
					jQuery('#o_main_left_toggle').hide();								
					menuState.minimized = false;
				}				
			}
	    }
	});

	## init offcanvas menu
	window.menuState = {
		origWidth : 14,
		minimized : false,
		open : true,
		docked : true			
	};
	
	window.o_restoreMenu = function(duration) {
		jQuery('#o_main_left_toggle').hide();	
		menuState.minimized = false;
		var l = jQuery('#o_main_left');
		l.transition({'width': menuState.origWidth + 'em'}, duration, function() {});
		$r.openNoResponseJavaScriptCommand("saveCol1Width"), "newEmWidth", menuState.origWidth);
	};
	window.o_showMenu = function(duration) {
		duration = (typeof duration === "undefined") ? 500 : duration;
		if (!menuState.open) {
			jQuery('#o_main_left_content').show();
			var l = jQuery('#o_main_left');
			l.transition({'x': 0, 'y': 0, 'left': 0}, duration, function() {
				menuState.open = true;
			});
		} 
	};
	window.o_hideMenu = function(duration) {
		duration = (typeof duration === "undefined") ? 500 : duration;
		if (!menuState.docked && menuState.open) {
			var l = jQuery('#o_main_left');
			jQuery('#o_main_left_content').hide();
			l.transition({'x': '-' + l.css('width'), 'y': 0, 'left': '5px'}, duration, function() {
				menuState.open = false;
			});			
		} 
	};
	window.o_undockMenu = function(duration) {
		if (menuState.docked) {
			var left = jQuery('#o_main_left');
			var offset = 0;
			try {	
				offset = left.offset().top;
				offset -= jQuery('#o_navbar_wrapper').outerHeight(false);
			} catch (e) {}

			jQuery('#o_main_left_toggle').show();
			left.css({position: 'absolute'})
				.addClass('o_offcanvas')
				.transition({'y': '-' + offset}, duration, function() {
					OPOL.adjustHeight();
					// close menu when something happens on the screen
					jQuery(document).on('click', '.o_tree_link', o_hideMenu);
					menuState.docked = false;
					menuState.minimized = false;
					o_hideMenu(duration);
			});							
		} 
	};
	window.o_dockMenu = function(duration) {
		o_showMenu();
		if (!menuState.docked) {
			jQuery('#o_main_left').transition({'y': 0}, duration, function() {
				jQuery('#o_main_left').css({position: 'relative'})
					.removeClass('o_offcanvas');
				OPOL.adjustHeight();
				jQuery('#o_main_left_toggle').hide();
				jQuery(document).off('click', '.o_tree_link', o_hideMenu);
				menuState.docked = true;
				o_restoreMenu(100);
			})			
		} 
	};
	window.o_responsiveMenu = function() {
		if (jQuery(window).width() < 992 && !(jQuery.support.opacity == false)) {
			// same breakpoint as bootstrap screen-md, opacity detect IE8
			o_undockMenu(500);
		} else {
			o_dockMenu(500);
		}
	};

	// toggle menu on toggle events
	jQuery('#o_main_left_toggle').on('click', function() {
		if (menuState.minimized) {
			o_restoreMenu(500);
		} else if (menuState.open) {
			o_hideMenu(500);
		} else {
			o_showMenu(500);
		}
	});
	// recalculate menu when browser is resized
	jQuery(document).on("oo.window.resize.after", o_responsiveMenu);
	// do initialization now
	if (jQuery(window).width() < 992 && !(jQuery.support.opacity == false)) {
		// same breakpoint as bootstrap screen-md, opacity detect IE8
		o_undockMenu(0);
	}
	// init toogle when menu is super small
	if (Math.round(jQuery('#o_main_left').width() / o_info.emPxFactor) <= 2) {
		jQuery('#o_main_left_toggle').show();				
		menuState.minimized = true;
	}
	
	// Adjust width to fit menu content
	#if($autoWidth)
	try {
		if (jQuery('#o_main_left div.o_tree').length > 0) {
			var realWidth = jQuery('div.o_tree').prop('scrollWidth');
			var visibleWidth = jQuery('#o_main_left_content').width();
			if (visibleWidth < realWidth) {
				var viewPortWidth = jQuery(window).width();
				if (viewPortWidth >= 992) {
					// Only in non-mobile view: use max 1/3 of content
					var containerWidth = jQuery('#o_main_container').width();
					// convert px to em: 1em=14px
					var newWith = (realWidth > (containerWidth / 4)) ? (containerWidth / 4) : realWidth;
					var newEmWidth = Math.ceil(newWith / 14) + 2;
					jQuery('#o_main_left').width(newEmWidth + 'em');					
				}
			}
		}	
	} catch(e) {
		if(window.console)  console.log(e);
	}
	#end
	
#end

#if($existsCol2 && $r.visible("col2"))		
	jQuery("#o_main_right").resizable({
        handles: 'w',
        containment: '#o_main',
	    grid: [o_info.emPxFactor, 10000],
	    stop: function() {
	    	var rightCol = jQuery('#o_main_right');
			var newEmWidth = Math.round(rightCol.width() / o_info.emPxFactor);
			rightCol.width(newEmWidth + 'em');
			$r.openNoResponseJavaScriptCommand("saveCol2Width"), "newEmWidth", newEmWidth);
	    }
	});
#end
});
</script>
#end