/* Course styles */
.o_colcat_nocolor.o_square {
	background-image: repeating-linear-gradient(135deg, transparent 0%, transparent 47%, red, transparent 53%, transparent 100%);
}

// See below in o_cn_styled as well
.o_colcat_dark_blue.o_colcat_bg { background-color: $o-cn-style-cat-dark-blue-color; }
.o_colcat_dark_blue.o_colcat_left { border-left-color: $o-cn-style-cat-dark-blue-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_dark_blue.o_colcat_top { border-top-color: $o-cn-style-cat-dark-blue-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_dark_blue.o_square { border-color: $o-cn-style-cat-dark-blue-color; }

.o_colcat_light_blue.o_colcat_bg { background-color: $o-cn-style-cat-light-blue-color; }
.o_colcat_light_blue.o_colcat_left { border-left-color: $o-cn-style-cat-light-blue-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_light_blue.o_colcat_top { border-top-color: $o-cn-style-cat-light-blue-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_light_blue.o_square { border-color: $o-cn-style-cat-light-blue-color; }

.o_colcat_purple.o_colcat_bg { background-color: $o-cn-style-cat-purple-color; }
.o_colcat_purple.o_colcat_left { border-left-color: $o-cn-style-cat-purple-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_purple.o_colcat_top { border-top-color: $o-cn-style-cat-purple-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_purple.o_square { border-color: $o-cn-style-cat-purple-color; }

.o_colcat_red.o_colcat_bg { background-color: $o-cn-style-cat-red-color; }
.o_colcat_red.o_colcat_left { border-left-color: $o-cn-style-cat-red-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_red.o_colcat_top { border-top-color: $o-cn-style-cat-red-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_red.o_square { border-color: $o-cn-style-cat-red-color; }

.o_colcat_orange.o_colcat_bg { background-color: $o-cn-style-cat-orange-color; }
.o_colcat_orange.o_colcat_left { border-left-color: $o-cn-style-cat-orange-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_orange.o_colcat_top { border-top-color: $o-cn-style-cat-orange-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_orange.o_square { border-color: $o-cn-style-cat-orange-color; }

.o_colcat_yellow.o_colcat_bg { background-color: $o-cn-style-cat-yellow-color; }
.o_colcat_yellow.o_colcat_left { border-left-color: $o-cn-style-cat-yellow-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_yellow.o_colcat_top { border-top-color: $o-cn-style-cat-yellow-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_yellow.o_square { border-color: $o-cn-style-cat-yellow-color; }

.o_colcat_light_green.o_colcat_bg { background-color: $o-cn-style-cat-light-green-color; }
.o_colcat_light_green.o_colcat_left  { border-left-color: $o-cn-style-cat-light-green-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_light_green.o_colcat_top  { border-top-color: $o-cn-style-cat-light-green-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_light_green.o_square { border-color: $o-cn-style-cat-light-green-color; }

.o_colcat_dark_green.o_colcat_bg { background-color: $o-cn-style-cat-dark-green-color; }
.o_colcat_dark_green.o_colcat_left { border-left-color: $o-cn-style-cat-dark-green-color; border-left-width: $o-cn-style-border-width; }
.o_colcat_dark_green.o_colcat_top { border-top-color: $o-cn-style-cat-dark-green-color; border-top-width: $o-cn-style-border-width; }
.o_colcat_dark_green.o_square { border-color: $o-cn-style-cat-dark-green-color; }

.o_colcal_ele {
	a {
		i {
			margin-bottom: -0.3em
		}
	}
}

.o_colcal_chooser {
	.o_colcal_ele {
		a {
			i {
				margin-right: 5px;
			}
		}
	}
	.o_colcal_ele:not(:first-child) {
		a {
			i {
				margin-top: 5px;
			}
		}
	}
}

.o_cn_styled {
	border: $o-cn-style-border;
	border-radius: $o-cn-style-border-radius;
	background-color: $o-cn-style-bg;
	
	.o_expanded {
		border-top: $o-cn-style-border;
	}
	
	.o_text {
		padding: $o-cn-style-text-pading;
	}
	
	&.o_cover > .o_top {
		background-position: center left;
		min-height: $o-cn-style-image-height;
	}
	
	.o_image > img,
	&.o_cover > .o_top {
		background-repeat: no-repeat;
		background-color: $o-cn-style-image-bg;
		&.o_colcat_dark_blue { background-color: $o-cn-style-cat-dark-blue-color; }
		&.o_colcat_light_blue { background-color: $o-cn-style-cat-light-blue-color; }
		&.o_colcat_purple { background-color: $o-cn-style-cat-purple-color; }
		&.o_colcat_red { background-color: $o-cn-style-cat-red-color; }
		&.o_colcat_orange { background-color: $o-cn-style-cat-orange-color; }
		&.o_colcat_yellow { background-color: $o-cn-style-cat-yellow-color; }
		&.o_colcat_light_green { background-color: $o-cn-style-cat-light-green-color; }
		&.o_colcat_dark_green { background-color: $o-cn-style-cat-dark-green-color; }
	}
	.o_image {
		max-height: $o-cn-style-image-height;
		background-position: center;
		overflow: hidden;
		@media (min-width: $screen-xs-max) { 
			max-width: $o-cn-style-image-width;
			min-height: $o-cn-style-image-height;
		}
	}
	&.o_cover {
		/* The second empty div is to press the first div to left side.
			Otherwise the hole line has the background color.
		*/
		.o_text_block {
			display: flex;
			> div > h5 {
				padding-bottom: 10px;
				margin-bottom: 0px;
			}
		}
		.o_top {
			.o_text_block {
				& > div:nth-child(1) {
					background-color: $o-cn-style-cover-text-bg;
					padding: $o-cn-style-cover-text-padding;
				}
			}
		}
	}
	&.o_right, &.o_left, &.o_gradient {
		.o_top {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column-reverse;
			
			.o_text {
				margin-right: auto;
			}
			
			.o_image {
				img {
					max-height: $o-cn-style-image-height;
				}
			}
			@media (min-width: $screen-xs-max) { 
				flex-direction: row;
				.o_image {
					img {
						height: $o-cn-style-image-height;
						max-width: $o-cn-style-image-width;
					}
				}
			}
		}
	}
	&.o_left {
		@media (min-width: $screen-xs-max) { 
			.o_top {
				flex-direction: row-reverse;
			}
		}
	}
	&.o_gradient {
		.o_image {
			position:relative;
		}
		@media (min-width: $screen-xs-max) { 
			.o_image:after {
				content:'';
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				display:inline-block;
				background: linear-gradient(to right, $o-cn-style-bg, rgba($o-cn-style-bg, 0) 60% );
			}
		}
	}
	
	&.o_cn_header {
		// Always (settings, etc.) like in #o_main_wrapper
		h2:first-child {
			margin: 0;
		}
		.o_instructional_design {
			background-color: rgba(122, 15, 124, 0.15);
			padding: 1px 11px;
		}
	}
	
	&.o_cn_peekview {
		.o_text {
			padding-bottom: 5px;
		}
		h4:first-child {
			margin-top: 0;
		}
		.o_no_access {
			background-color: rgba(122, 15, 124, 0.15);
			padding: 6px 11px;
			margin-bottom: 10px;
			h5 {
				margin-top: 3px;
			}
		}
		.o_peekview {
			padding: 15px 15px 10px 15px;
			background: $o-cn-style-peekview-bg;
		}
		.o_assessment {
			.o_labeled {
				margin-bottom: 3px;
			}
		}
		.o_st_peekview {
			.o_st_item {
				margin-bottom: 5px;
				background: $o-st-peekview-bg;
				.o_text {
					padding: $o-st-peekview-text-padding;
				}
			}
			@media (min-width: $screen-sm-max) { 
				.row.o_two_columns {
					> :nth-child(1) {
						padding-right: 7px;
					}
					> :nth-child(2) {
						padding-left: 8px;
					}
				}
			}
		}
	}
	&.o_system_image {
		width: $o-cn-style-image-width;
		.o_top {
			height: $o-cn-style-image-height;
			width: $o-cn-style-image-width;
			.o_image {
				img {
					height: $o-cn-style-image-height;
				}
			}
		}
	}
}


/* Bages */
.badge {
	/* badge color */
	&.o_midpub            { background-color: $o-course-node-published; }
	&.o_midwarn           { background-color: $o-course-node-warning; }
	&.o_midlock           { background-color: $o-course-node-locked;}
	&.o_miderr            { background-color: $o-course-node-error;}
	&.o_middel            { background-color: $o-course-node-deleted;}
	&:before {
		content: none;
	}
}
.o_course_editor_legend .badge {
	font-size: 80%;
}

.o_course_edit_overview_table {
	tr.o_deleted, tr.o_deleted td, tr.o_deleted td span, tr.o_deleted td a {
		color: lighten($o-course-node-deleted, 20%);
	}
}

/* learning path tree rendering */
.o_lp_tree.o_tree {

	/* RESET default tree style */
	ul li div {
		border-bottom: none;
	}
	/* No hover effects  */
	.o_tree_link:last-child:hover, 
	.o_tree_link:last-child:focus {
		background-color: transparent;
	}	
	/* Opener more right than default to make room for path */	
	@for $i from 0 through 11 {
		li div a.o_tree_oc_l#{$i}  { 
			left: $o-tree-padding-opener-left-px + $o-tree-padding-horizontal_root_visible + (( $i - 1) * $o-tree-padding-steps-px) + $o-lp-step-size; 
		}
		li div span.o_tree_l#{$i}  {
			padding: $o-tree-padding-vertical 2px $o-tree-padding-vertical $o-tree-padding-left-steps-px;
			margin-left: $o-tree-padding-horizontal_root_visible + ($i * $o-tree-padding-steps-px) + $o-lp-step-size;
			z-index:9; 
		}
	}
		
	/* No icons 	*/
	// TOOD: should not be in the model depending on the course config
	.o_tree_link > a > i.o_icon {
	 	display: none;
	}
	
	/* Add box and alpha transparent backgrounds to visualize menu level */
	border: $o-lp-border;	
	li.children_visible {
		background: $o-lp-bg;	
	}
	
	/* Path is rendered for each list element. It consists of a path indicator and the step indicator.
	 * The step indicator is an icon that represents the status of the step */
	li {
		position: relative;
		/* path indicator */
		&:before {
			content: ' ';
			position: absolute;
			top: $o-lp-step-top + $o-lp-step-size;
			left: $o-lp-left + (($o-lp-step-size - $o-lp-path-width) / 2);
			height: (($o-tree-padding-vertical * 2 + $line-height-computed) - $o-lp-step-size + 1px);
			width: $o-lp-path-width;
		}	
		/* step indicator */
		&:after {
			position: absolute;
			top: ($o-lp-step-top); 
			left: $o-lp-left;
			height: $o-lp-step-size;
			width: $o-lp-step-size;
			@include o-make-icon(); 
		}
	}
	
	/* Create the path renderings for each status with this mixin */
	@mixin alert-tree-path-variant($iconcolor, $icon, $strokecolor, $stroke) {
		&:before {
			border-left: $o-lp-path-width $stroke $strokecolor;
		}	
		&:after {
			content: $icon;
			color: $iconcolor;		
		}
	}
	
	/* Learning path status default */
	li {
		@include alert-tree-path-variant($o-lp-default, $fa-var-circle-o, $o-lp-default, solid);
	}
	/* learning path status specific coloring */
	li.o_lp_not_accessible {
		@include alert-tree-path-variant($o-lp-not-accessible, $fa-var-ban, $o-lp-not-accessible, dotted);
	}
	li.o_lp_ready {
		@include alert-tree-path-variant($o-lp-ready, $fa-var-circle-o, $o-lp-not-accessible, dotted);
	}
	li.o_lp_in_progress {
		@include alert-tree-path-variant($o-lp-in-progress, $fa-var-play-circle-o, $o-lp-in-progress, solid);
	}
	li.o_lp_done {
		@include alert-tree-path-variant($o-lp-done, $fa-var-check-circle, $o-lp-done, solid);
	}
	
	/* Path stops on last element */
	li.o_last_node:before {
		border: none;
	}
	
	/* Nodes that are not in a sequence have different path rendering */
	li.o_lp_not_in_sequence:not(:last-child):not(.o_last_node):before,
	li.o_lp_contains_no_sequence.children_visible:not(.o_last_node):before,
	li.o_lp_contains_no_sequence.children_visible:not(.o_last_node) li.o_lp_not_in_sequence:not(.o_last_node):before {
	 	border-left: $o-lp-path-width solid $o-lp-default; 
	}
	
}

.o_lp_list {
	i.o_status.o_lp_not_accessible::before {
		color: $o-lp-not-accessible;
		content: $fa-var-ban;
	}
	i.o_status.o_lp_ready::before {
		color: $o-lp-not-accessible;
		content: $fa-var-circle-o;
	}
	i.o_status.o_lp_in_progress::before {
		color: $o-lp-in-progress;
		content: $fa-var-play-circle-o;
	}
	i.o_status.o_lp_done::before {
		color: $o-lp-done;
		content: $fa-var-check-circle;
	}
}

.o_lp_identity {
	.o_user_infos {
		margin-top: 20px;
	}
}
.o_lp_report_nodes {
	.o_lp_excluded_toggle {
		text-align: right;
		margin-right: 47px;
	}
	.o_lp_excluded_toggle + .o_lp_nodes {
		margin-top: -34px;
	}
}

.o_labeled.o_lp_not_accessible { background-color: $o-lp-not-accessible; border-color: $o-lp-not-accessible; }
.o_labeled.o_lp_ready { background-color: $o-lp-ready; border-color: $o-lp-ready; }
.o_labeled.o_lp_in_progress { background-color: $o-lp-in-progress; border-color: $o-lp-in-progress; }
.o_labeled.o_lp_done { background-color: $o-lp-done; border-color: $o-lp-done; }

/* progress bar in tools */
.o_course_progress {
	position: absolute; 
	left: 0;
	width: 100%;

	.progress {
		height: 3px;
		line-height: 3px;
		-webkit-box-shadow: none;
		box-shadow: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
/* position without toolbar / breadcrumb */
.o_course_progress {
	top: -37px;
	@media (max-width: $screen-sm-max) { 
		top: -37px;
	}
	@media (max-width: $screen-xs-max) { 
		top: -37px;
	}
}
/* position without breadcrumb but with toolbar */
.o_with_toolbar .o_course_progress {
	top: $o-toolbar-height-md + $o-toolbar-margin-top - 4px ;
	@media (max-width: $screen-sm-max) { 
		top: $o-toolbar-height-sm + $o-toolbar-margin-top - 8px ;
	}
	@media (max-width: $screen-xs-max) { 
		top: $o-toolbar-height-xs + $o-toolbar-margin-top - 7px ;
	}
}

/* position without toolbar but with breadcrumb */
.o_with_breadcrumb .o_course_progress {
	top: $o-toolbar-breadcrumb-line-height + $o-toolbar-margin-top - 7px;
	@media (max-width: $screen-sm-max) { 
		top: $o-toolbar-breadcrumb-line-height + $o-toolbar-margin-top - 7px;
	}
	@media (max-width: $screen-xs-max) { 
		top: $o-toolbar-breadcrumb-line-height + $o-toolbar-margin-top - 7px;
	}
}
/* position with breadcrumb and with toolbar */
.o_with_breadcrumb.o_with_toolbar .o_course_progress {
	top: $o-toolbar-height-md + $o-toolbar-breadcrumb-line-height + $o-toolbar-margin-top + 7px ;
	@media (max-width: $screen-sm-max) { 
		top: $o-toolbar-height-sm + $o-toolbar-breadcrumb-line-height + $o-toolbar-margin-top + 4px ;
	}
	@media (max-width: $screen-xs-max) { 
		top: $o-toolbar-height-xs + $o-toolbar-breadcrumb-line-height + $o-toolbar-margin-top + 5px ;
	}
}

.gugs > .o_course_progress {
	top: 10px;
}

/* score info status classes */
.o_passed {
	color: $o-course-state-passed-color;
	font-weight: bold;
	a:hover {
	    color: darken($o-course-state-passed-color, 10%);
	}					
	th {
		color: $text-color		
	}
}
.o_failed {
	color: $o-course-state-failed-color;
	font-weight: bold;
	a:hover {
	    color: darken($o-course-state-unknown-color, 10%);
	}				
	th {
		color: $text-color		
	}
}		
.o_unknown {
	color: $state-warning-text;
	font-weight: bold;
	a:hover {
	    color: darken($o-course-state-unknown-color, 10%);
	}				
	th {
		color: $text-color		
	}
}		
.o_noinfo {
	color: $text-muted;
}		

/* general course run classes */
.o_course_run {
	.o_toc {
		.row > .o_row {
			margin-bottom: 15px;
		}
		@if not $o-course-show-icon-toc {
			// hide icons in peekview title
			.o_title > h4 > a > i{
				display: none;
			}
		}
	}	
	.o_no_scoreinfo {
		@extend %o_important;
	}	
	.o_statusinfo {
		@extend %o_note;
	}
	.o_in_review {
		font-style: italic;
		position: relative;
	}
	
	@if not $o-course-show-icon-title {
		// hide icons in title, too much fuzz
		&.o_titled_wrapper > h2 i{
			display: none;
		}
	}
	
	@media (min-width: $screen-xs-max) {
		.o_lp_spacer {
			height: 8px;
		}
	}
}

@if not $o-course-show-icon-menu {
	// hide icons in menu
	.o_tree.o_course_menu .o_tree_link > i {
		display: none;
	}
}

/* override transparent background for tree menu */
.o_tree.o_course_menu {
	div.o_tree_l0 > a:first-child {
		background-color: $o-tree-link-bg;
	}
}

/* checklist course element */
.o_cl_line {
	margin-bottom: $padding-large-vertical;
	padding-bottom: $padding-small-vertical;
	&.o_even {
		background-color: $table-bg-accent;
	}
}

/* link list course element */
.o_ll_container {
	h5 {
		margin-bottom: 5px;
		a.o_desc {
			color: $o-content-h5-color;	
			small {
				display: none;
			}
	
			&:hover {
				color: darken($o-content-h5-color,10%);				
				text-decoration: none;
				small {
					color: darken($o-content-dimmed-color,10%);				
					display: inline;
				}
			}		
		}
	}
	div.o_comment {
		color: $o-content-dimmed-color;
	}
}

/* pagination in toolbar */
.o_toolbar_navigation .o_course_pagination {
	position: absolute;
	/* make it look like beeing part of the toolbar */
	top: -($o-toolbar-margin-bottom + 1px);
	right: 0px;
 	background-color: $o-toolbar-bg-color;
	border: 1px solid $o-toolbar-border-color;
	border-top: 0;
   	@include border-bottom-radius($o-toolbar-border-radius);
   	padding: 2px;
   	
	display: flex;
	justify-content: flex-end;
	
	:not(:first-child) {
		margin-left: 5px;
	}
	
	.o_previous,
	.o_next {
		a {
			width: 50px;
		}
	}
	.o_confirm {
		a {
			&.o_course_pagination_status_done {
				color: $o-lp-done;
			}
		}	
	}
	
	.btn-xs {
		padding: 0px 4px;
	}
}
/* pagination at bottom of content */
.o_course_run .o_course_pagination {
	border-top: 1px solid #e7e7e7;
	margin-top: 50px;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;

	.o_previous {
		order: 1;	
	}
	.o_confirm {
		order: 2;
	}
	.o_next {
		order: 3;	
	}
		
	/* position at very left / right edge with icon to match positioning of top link and border */
	.btn-link {
		padding-left: 0;
		padding-right: 0;
		margin-left: -5px;
		margin-right: -5px;
	}
	
	@media (max-width: $screen-xs-max) { 
		.o_previous, .o_next {
			span { display: none; }
		}
	}	
}

/* statistics */
.o_course_stats .o_desc {
	@extend %o_note
}

/* member list course element */
.o_cmembers {
	.o_cmember {
		margin: $padding-base-horizontal 0;
		display: table;
		.o_portrait {
			padding-right: $padding-large-vertical;		
			display: table-cell;
			vertical-align: top;
			min-width: 60px;
			img {
				width: 50px;
				height: 50px;
			}
		}
		.o_cmember_info_wrapper {
			display: table-cell;
			vertical-align: middle;
			.o_mail {
				margin-left: $padding-base-vertical;					
			}
			color: $text-muted;
		}
		
		.o_curriculum_displayname, .o_curriculum_root_el_identifier, .o_curriculum_root_el_displayname {
			font-size: 12px;
		}
	}
	
	.o_cmember a.o_mail {
		display: none;
	}
		
	.o_cmember:hover a.o_mail {
		display: inline;
	}
}

.o_cmembers_print {
	#o_print_brand {
		position: absolute;
		top: 1cm;	
		right: 1cm;
		width: 5cm;
		height: 4cm;
		img {
			width: 100%;
		}
	}
	
	.o_portrait {
		width: 100px;
		height:100px;
		position:relative;
		
		img {
			border-radius: 0px;
			max-width: 100%;
			max-height:100%;
			width: auto;
			height: auto;
			position: absolute;  
			top: 0;  
			bottom: 0;  
			left: 0;  
			right: 0;  
			margin: auto;
		}
	}
	
	.o_cmember {
		padding-left: 0px;
		padding-right: 15px;
		margin-bottom: 20px;
		
		.o_cmember_info_wrapper {
			word-wrap:break-word;
		}
		
		.o_prop {
			&.o_zipCode {
				float: left;
				padding-right: 0.5em;
			}
		}
	}
	
	/* print font styles */
	color: #000;
	h1 {
		font-size: 18pt;	
		color: #000;
	}
	h3 {
		font-size: 14pt;
		margin-top: 5px;
		font-weight: normal;
		color: #000;
	}
	h4 {
		font-size: 11pt;
		font-weight: strong;		
		color: #000;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	
	.o_cmember_info_wrapper {
		font-size: 7pt;
		color: #000;
		strong {
			font-size: 8pt;
		}
	}
}

.tag.label.label-info {
	margin-right: 3px;
}

.input-group.o_tag_inputgroup .form-control {
	height:auto;
}

/* Assessment tool */
div.o_correction_navigation {
	.o_correction_navigation_back {
		float: left;
		line-height: ($line-height-computed + 2 * $padding-base-vertical); /* same height as buttons */
	}
	/* position selbox in center, previous left and next right of it */
	.o_correction_navigation_previous {
		position: absolute;
		right: 50%;
		margin-right: 102px;
	}
	#o_cocurrent_item_SELBOX {
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;		
		position: absolute;
		left: 50%;
		margin-left: -100px;
	}
	.o_correction_navigation_next {
		position: absolute;
		left: 50%;
		margin-left: 102px;
	}
	@media (max-width: $screen-xs-max) {
		.o_correction_navigation_previous,
		.o_correction_navigation_next {
			span {
				display: none;
			}
		}
	}
}

/* IQTEST */
.o_iq_coach .o_assessment_modes {
	margin-top: 1em;
}

/* Manual scoring */
.o_ms_bold {
	font-weight: bold;
}
.o_ms_legend {
	padding: 5px;
	
	li {
		display: block;
		font-size: 90%;
	}
	.ident {
		font-weight: bold;
	}
}

/** live stream course element */
.o_browser_ie10, .o_browser_ie11 {
	.o_paella_wrapper {
		iframe {
			display: none;
		}
		
		.o_paella_error {
			display: block;
		}
	}
}

.o_paella_wrapper {
	iframe {
		width: 100%;
		height: 400px;
		@media (max-width: $screen-sm-min) {
			height: 300px;
		}
	}
	
	.o_paella_error {
		display: none;
	}
}

.o_livestream_peekview {
	.o_instruction {
		margin-bottom: 0px;
	}
}

/* Document course element */
.o_cnd_document {
	.o_cnd_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		div:last-child {
			margin-left: auto
		}
	}
	
	.o_cnd_file {
		display: flex;
	
		.o_cnd_thumbnail {
			width: 150px;
			min-width: 150px;
			min-height: 150px;
			background-color: #fff;
			border-radius: $thumbnail-border-radius;
			border: 1px solid $thumbnail-border;
			margin-right: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.o_cnd_file_icon {
			margin-right: 10px;
			i {
				font-size: 5em;
			}
		}

		.o_legend {
			font-weight: bold;
		}
	}
	
	.o_cnd_meta_toggle {
		display: flex;
		:last-child {
			margin-left: auto
		}
	}
	
	.o_cnd_meta {
		padding-top: 20px;
		
		.table {
			table-layout: fixed;
			word-wrap: break-word;
			margin-bottom: 0;
		}
		
		@media (min-width: $screen-sm-min) {
			table {
				tbody { vertical-align: top; }
				tr, th, td { display: inline-block; }
				tr { width: 49%; }
				th { width: 30%; }
				td { width: 70%; }
			}
		}
	}
}

.o_cnd_run {
	padding-bottom: 15px;
}

.o_cnd_peekview {
	padding-top: 5px;
}

/* Opencast course element */
.o_oc_search {
	display: flex;
	div:first-child {
		margin-right: 5px;
	}
}

/* Participant folder */
#o_pf_participant_folder i.o_icon_time {
	padding-right: 0.3em;
}


/* Educational course types */
.o_educational_type {
	@extend %o_labeled;
	background: transparent;
	text-transform: none;
	display: inline-block;
	border-color: 		$o-edu-type-standard-course-color;
    @include o-high-contrast-color($o-edu-type-standard-course-color);
        
}
.o_standard_course .o_educational_type {
    border-color: 		$o-edu-type-standard-course-color;
    @include o-high-contrast-color($o-edu-type-standard-course-color);
}
.o_exam_course .o_educational_type {
    border-color: 		$o-edu-type-exam-course-color;
    @include o-high-contrast-color($o-edu-type-exam-course-color);
}
.o_certification_course .o_educational_type {
    border-color: 		$o-edu-type-certification-course-color;
    @include o-high-contrast-color($o-edu-type-certification-course-color);
}
.o_date_course .o_educational_type {
    border-color: 		$o-edu-type-date-course-color;
    @include o-high-contrast-color($o-edu-type-date-course-color);
}
.o_seminar_course .o_educational_type {
    border-color: 		$o-edu-type-seminar-course-color;
    @include o-high-contrast-color($o-edu-type-seminar-course-color);
}
.o_lecture_course .o_educational_type {
    border-color: 		$o-edu-type-lecture-course-color;
    @include o-high-contrast-color($o-edu-type-lecture-course-color);
}
.o_blendedlearning_course .o_educational_type {
    border-color: 		$o-edu-type-blendedlearning-course-color;
    @include o-high-contrast-color($o-edu-type-blendedlearning-course-color);
}
.o_selfstudy_course .o_educational_type {
    border-color: 		$o-edu-type-selfstudy-course-color;
    @include o-high-contrast-color($o-edu-type-selfstudy-course-color);
}

/* in ".o_repo_details .o_lead" and ".o_coursetable .o_rendertype_custom" */
.o_repo_details .o_lead .o_educational_type,
.o_coursetable.o_rendertype_custom .o_educational_type {
	margin-right: 0.25em; 
	margin-top: 0.5em;
	vertical-align: text-bottom;
   	& + .o_author {
		display: inline-block;
	}
}

