ul.sessionControl {
	list-style: none;
	margin: 1em;
	text-align: center;
  
	li {
		display: inline;
		padding: 0.2em;
	}
}

/* Associations */
.association {
	margin: 20px 20px 20px 40px;
	background: transparent url('#{$o-images-path}association_bg.png') repeat-x center center;
}

.o_associate_item {
	padding: 5px;
	margin:0 15px 10px 0;
	border: 2px solid $o-qti-gap-border-color;
	
	&.oo-selected {
		border: 2px solid $o-qti-gap-selected-border-color;
	}
	
	&.oo-choosed {
		border: none !important;
	}
	
	&.oo-drag {
		border: 2px solid $o-qti-gap-drag-border-color !important;
	}
}

.association_box {
	border: 3px dotted $o-qti-gap-border-color;
	
	&.oo-filled {
		border: 3px solid $o-qti-gap-border-color;
	}
}

.association_box {
	background-color: white;
}

.prompt {
	font-weight: bold;
}

/* Drawing */
.sketch {
	position: relative;
}

#tmp_canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
}

.sketch, .sketch>canvas {
	touch-action: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
	
.o_group_colors {
	.black .o_icon:before { color:#000000;  }
	.white .o_icon:before { color:#FFFFFF; }
	.blue .o_icon:before { color:#0000FF;  } 
	.green .o_icon:before { color:#008000;  } 
	.yellow .o_icon:before { color:#FFFF00;  }
	.red .o_icon:before { color:#FF0000;  } 
	.purple .o_icon:before { color:#800080; }
}

.white.btn>i.o_icon_circle_color:before {
	font-size: 110%;
	color: #000000;
}

/* Upload */
.uploadInteraction>label {
	margin-top: 10px;
}

/* Graphic gap match */
.o_gap_item {
	padding:5px;
	margin: 5px;
	background-repeat:no-repeat;
	background-position: center center;
	
	&.oo-choosed {
		position: relative;
    	left: auto;
    	top: auto;
    	padding: 3px;
    	margin: 0;
	}
	
	&.oo-selected {
		border: 3px solid $o-qti-gap-selected-border-color;
	}
}

.o_item_container_help, .o_items_container_help {
	font-size: 90%;
	font-style: italic;
	color: $gray-light;
	padding: 5px;
	
	p {
		margin: 0;
	}
}

/* Position object */
.items_container {
	padding: 15px;
	
	.o_item {
		float: left;
	}
}

.o_qti_max_attempts.o_warning {
	margin: 0;
}

/* Hotspot */
.o_qti_hotspots_editor {
	min-height: 50px;
	min-width: 75px;
	background-repeat: no-repeat;
	background-size: cover;
	touch-action: none;
	user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	overflow: hidden;
	
	&.o_qti_hotspots_without_bg {
		min-height: 300px;
		min-width: 400px;
	}
	
	.o_draw_circle.o_hotspot_selected, .o_draw_rectangle.o_hotspot_selected {
		background-color: $o-drawing-select-bg !important;
		border-color: $o-drawing-select-border !important;
	}
	
	&.o_qti_hotspot-standard  {
		.o_draw_circle, .o_draw_rectangle {
			background-color: rgba(255, 255, 255, 0.5);
			border-color: #6E6E6E;
		}
		
		.o_qti_hotspot_correct.o_draw_circle, .o_qti_hotspot_correct.o_draw_rectangle {
			background-color: rgba(45, 0, 255, 0.5);
			border-color: #0000ff;
		}
	}
	
	&.o_qti_hotspot-light  {
		.o_draw_circle, .o_draw_rectangle {
			background-color: rgba(221, 221, 221, 0.0);
			border-color: #7E7E7E;
		}
		
		.o_qti_hotspot_correct.o_draw_circle, .o_qti_hotspot_correct.o_draw_rectangle {
			background-color: rgba(51, 122, 183, 0.05);
			border-color: #337ab7;
		}
	}
	
	&.o_qti_hotspot-inverted  {
		.o_draw_circle, .o_draw_rectangle {
			background-color: rgba(110, 110, 110, 0.5);
			border-color: #3E3E3E;
		}
		
		.o_qti_hotspot_correct.o_draw_circle, .o_qti_hotspot_correct.o_draw_rectangle {
			background-color: rgba(222, 222, 222, 0.2);
			border-color: #CECECE;
		}
	}
	
	&.o_qti_hotspot-green  {
		.o_draw_circle, .o_draw_rectangle {
			background-color: rgba(142, 142, 142, 0.25);
			border-color: #CECECE;
		}
		
		.o_qti_hotspot_correct.o_draw_circle, .o_qti_hotspot_correct.o_draw_rectangle {
			background-color: rgba(134, 195, 81, 0.5);
			border-color: #518b33;
		}
	}
	
	&.o_qti_hotspot-purple  {
		.o_draw_circle, .o_draw_rectangle {
			background-color: rgba(142, 142, 142, 0.33);
			border-color: #CECECE;
		}
		
		.o_qti_hotspot_correct.o_draw_circle, .o_qti_hotspot_correct.o_draw_rectangle {
			background-color: rgba(234, 168, 255, 0.5);
			border-color: #ab47cb;
		}
	}
}

div.hotspotInteraction {
	overflow-x: auto;
}

img.o_hotspot_responsive[usemap] {
	max-width: 100%;
	width: auto;
	height: auto;
}

/* Gap text / FIB */
.form-inline.o_qti_gaptext_add_first_alternative {
	padding: 9px 0 3px 0;
}

.form-inline.o_qti_gaptext_add_alternative {
	margin-bottom: 3px;
}

.o_qti_gaptext_add_alternatives {
	position: absolute;
	top: 0px;
	right: 15px;
}

.o_qti_gaptext_alternatives {
	background-color: $gray-lighter;
	color: $gray;
	border: 1px solid $gray-lighter;
	border-radius: $border-radius-base;
	padding: 2px 5px;
}

span.o_qti_gaptext_score_alternative {
	padding-left: 2em;
	color: $gray;
}

/* Essay extended text */
.o_qti_item_body .extendedTextInteraction {
	margin: 15px 0;

	textarea {
		/* fix missing resize handle in Safe Exam Browser */
		resize: vertical !important;
		font-family: $font-family-monospace;
	}
	
	pre {
		font-family: $font-family-monospace;
	}
	
	.o_qti_essay_infos>.o_qti_essay_save {
		padding: 2px 2px;
		font-style: italic;
		font-size: 90%;
		text-align:left;
	}
}

.extendedTextInteraction .o_qti_essay_infos>.o_qti_essay_count {
	padding: 2px 2px;
	font-weight: bold;
	font-size: 90%;
	text-align:right;
}

.extendedTextInteraction div.form-control.textarea_disabled {
	white-space: pre-wrap;
	height: auto;
	font-family: $font-family-monospace;
	color: $input-color !important;
}

#o_qti_run_title {
	 margin: 0 15px 0.5em 15px;
	 h3 {
	 	margin: 15px 0 0 0;
	 }
}
#o_qti_run_infos {
	border: 1px solid $o-qti-run-infos-border-color;
	border-radius: $o-qti-run-infos-border-radius;
	background: $o-qti-run-infos-bg;
	padding: $padding-large-vertical 0;
	margin: 0 15px 1em 15px;
	
	.progress {
		background-color: $o-qti-run-infos-progress-bg;
	}	
	#o_qti_scoreinfo .progress-bar {
		@include progress-bar-variant($o-qti-run-infos-score-progress-color);
	}
	
	#o_qti_questioninfo .progress-bar {
		@include progress-bar-variant($o-qti-run-infos-question-progress-color);
	}
	
	#o_qti_run_scoreinfo,
	#o_qti_run_scoreprogress {
		white-space: nowrap;
	}
}

/* prevent the toggle to obscure the title of the question */
#o_main_wrapper #o_main_container #o_qti_run #o_main_left #o_main_left_toggle {
	top : 50px;
}

#o_qti_results_infos {
	border: 1px solid $o-qti-run-infos-border-color;
	border-radius: $o-qti-run-infos-border-radius;
	background: $o-qti-run-infos-bg;
	padding: $padding-large-vertical 0;
	margin: 0 0 1em 0;
	
	.progress {
		background-color: $o-qti-run-infos-progress-bg;	
	}
	
	#o_qti_run_scoreinfo,
	#o_qti_run_scoreprogress {
		white-space: nowrap;
	}
}

#o_qti_assessment_test_timer {
	padding: $padding-large-vertical;
	margin: 0 15px 1em 15px;
	
	&.o_hours {
		background-color: $o-box-info-bg;
		border-left: $o-box-border-left-size solid $o-box-info-color;
		.o_qti_timer_second, .o_qti_timer_label_second {
			display: none;
		}
	}
	&.o_60_minutes {
		background-color: $o-box-info-bg;
		border-left: $o-box-border-left-size solid $o-box-info-color;
		.o_qti_timer_hour, .o_qti_timer_label_hour, .o_qti_timer_second, .o_qti_timer_label_second {
			display: none;
		}
	}
	&.o_10_minutes {
		background-color: $o-box-warning-bg;
		border-left: $o-box-border-left-size solid $o-box-warning-color;
		.o_qti_timer_hour, .o_qti_timer_label_hour, .o_qti_timer_second, .o_qti_timer_label_second {
			display: none;
		}
	}
	&.o_5_minutes {
		background-color: $o-box-error-bg;
		border-left: $o-box-border-left-size solid $o-box-error-color;
		.o_qti_timer_hour, .o_qti_timer_label_hour  {
			display: none;
		}
	}
	
	.o_qti_times_up, .o_qti_times_message {
		padding-left: 2em;
	}
}


/* Drawing */
.o_draw_circle.o_qti_hotspot_correct, .o_draw_rectangle.o_qti_hotspot_correct {
	background-color: rgba(229, 255, 204, 0.6);
}

#width_range_ui, #opacity_range_ui {
	width: 120px;
}

.o_slider_width_range, .o_slider_opacity_range {
	margin: 3px 10px 0 0;
}

.o_qti_hotspot_label {
	padding-left: 48%;
}

.o_qti_hotspot_delete {
	
}


.o_assessmentsection_rubrics_wrapper {
	background: $o-qti-item-title-bg;
	border: 1px solid $o-qti-item-title-border-color;
	border-radius: $o-qti-item-title-border-radius;
	padding: $padding-small-vertical $padding-small-horizontal;
	margin: 0 0 0.5em 0;		
}

.o_assessmentsection_rubrics_correction_wrapper {
	background: $o-qti-item-title-bg;
	border-left: 1px solid $o-qti-item-title-border-color;
	border-right: 1px solid $o-qti-item-title-border-color;
	padding: $padding-small-vertical $padding-small-horizontal;
}

.o_info.o_assessmentsection_rubrics {
	margin: $padding-small-vertical ($padding-small-horizontal * -1);
	position: relative;
	display: block;				
	
	&.o_hide {
		display: none;
	}
	a.o_hide {
		position: absolute;
		bottom: 0.5em;
		right: 1em;
	}
}

.o_assessment_test_results .o_info.o_assessmentsection_rubrics {
	margin: $o-box-margin 0;
}

.o_assessmentitem {
	h1 {
		margin-bottom: 0;
	}
	
	div.badResponse, span.badResponse {
		color: $o-qti-badResponse-color;
		font-weight: bold;
	}
	
	div.o_warning.badResponse, span.o_warning.badResponse {
		color: $o-qti-badResponse-warning-color;
		font-weight: bold;
	}
	
	input.badResponse {
  		border: 1px solid $o-qti-badResponse-color;
	}
	
	.infoControl{
		input {
			margin-right: 0.5em;
		}

		.infoControlContent {
  			display: none;
		}
	}

	.gap {
		font-weight: bold;
		border: 1px dashed #000;
	}
	
	.textEntryInteraction {
		input, span.o_input_value {
			margin: -1px 2px;
			line-height: 90%;		
			vertical-align: middle;
			font-size: ($font-size-base * 0.98);
			line-height: 1.5; /* smaller than #itemBody */
			border: 1px solid $o-qti-textEntryInteraction-border-color;
			background: $o-qti-textEntryInteraction-bg;
			padding: 1px 1px;
			color: $o-qti-textEntryInteraction-color;
			max-width: 100%;
			/* format fields with values in it in separate style */
			&:valid,
			&:disabled,
			&.o_input_value_wrapper {
				color: $o-qti-textEntryInteraction-filled-color;
				-webkit-text-fill-color: $o-qti-textEntryInteraction-filled-color;
				background: $o-qti-textEntryInteraction-filled-bg;				
				border: 1px solid $o-qti-textEntryInteraction-filled-border-color;
			}
		}
	}
}

li.o_assessmentitem_order_item {
	padding: 10px;
	margin-bottom: 10px;
	border: 2px $o-qti-order-source-border-style $o-qti-gap-border-color;
	border-radius: $o-qti-order-border-radius;
	background-color: #ffffff;
	background: $o-qti-order-source-bg;
	list-style-type: none;
	@include clearfix;
}

body>li.o_assessmentitem_order_item  {
	display:block;
}


/* item display wrapper to distinguish from the item tree */
.o_assessmentitem_wrapper {
	.itemTitle {
		background: $o-qti-item-title-bg;
		border: 1px solid $o-qti-item-title-border-color;
		border-radius: $o-qti-item-title-border-radius $o-qti-item-title-border-radius 0 0;
		margin-top: 0;
		margin-bottom: 0;
		padding: $padding-small-vertical $padding-small-horizontal;
		line-height: 1.5em;
		position: relative;
		
		.o_qti_item_max_score {
			position: absolute;
			left: 49%;
		}
	}
	.o_qti_item_body {
		min-height: $o-qti-item-min-height;
		margin: 0;
		padding: $padding-small-vertical $padding-small-horizontal;
		background-color: $panel-bg;
		border-left: 1px solid $o-qti-item-border-color;
		border-right: 1px solid $o-qti-item-border-color;
		font-size: $font-size-base;
		line-height: 1.8; /* larger than .textEntryInteraction input */
	}
	.o_assessment_item_not_final.o_warning {
		margin: 0;
	}
	.modalFeedback {
		h4:first-of-type {
			padding-left: $padding-small-horizontal;
			margin-top: 0;
		}
		/* need to redeclare o_info since modalFeedback class is on same element */
		/* remove margins to stack into item box*/
		.o_info {
			@extend %o_info;
			margin-bottom: 0;
			margin-top: 0;
		}
		
		.o_info.o_correct_modal_feedback {
			@extend %o_success;
			margin-bottom: 0;
			margin-top: 0;
		}

		.o_info.o_incorrect_modal_feedback {
			@extend %o_error;
			margin-bottom: 0;
			margin-top: 0;
		}

		.o_info.o_empty_modal_feedback {
			@extend %o_note;
			margin-bottom: 0;
			margin-top: 0;
		}
		
		.o_togglebox_wrapper {
			margin-bottom: 0;
			margin-top: 0;	
			
			h4 {
				border-left: 1px solid $o-qti-item-border-color;
				border-right: 1px solid $o-qti-item-border-color;
				padding-bottom: 5px;
				margin-bottom: 0;
			}
		}
	}
}
	
	
.o_assessmentitem_wrapper, .o_qti_menu_buttonstyle {
	ul.o_testpartnavigation {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li.o_assessmentitem {
		margin-bottom: 2px;
	}	
	
	.o_assessmentitem_status {
		float: right;
		display: block;
		padding: 0.3em;
		margin-left: 1em;
		border-radius: 0.3em;
		border-width: 1px;
		font-size: 0.8em;
		line-height: 1.2em;
		color: #fff;
		
		&.ended {
		  background-color: $o-qti-status-ended-color;
		}
		&.invalid {
		  background-color: $o-qti-status-invalid-color;
		}
		&.answered {
		  background-color: $o-qti-status-answered-color;
		}
		&.notAnswered {
		  background-color: $o-qti-status-notAnswered-color;
		}
		&.notPresented {
			background-color: $o-qti-status-notPresented-color;
		}
		&.review {
			background-color: $o-qti-status-review-color;
		}
		&.reviewNotAllowed, 
		&.reviewInvalid, 
		&.reviewNotAnswered, 
		&.reviewNotSeen {
			background-color: $o-qti-status-review-color;
			opacity: 0.7;
		}
		
		i:before {
			color: #fff;
		}
	}
}

.o_assessmentitem_controls {
	background: $o-qti-item-controls-bg;
	border: 1px solid $o-qti-item-controls-border-color;
	border-radius: 0 0 $o-qti-item-controls-border-radius $o-qti-item-controls-border-radius;
	margin-top: 0;
	margin-bottom: $padding-large-horizontal;
	padding: $padding-small-vertical $padding-small-horizontal;
	
	button, a {
		margin-bottom: 0;
	}
	
	/* button icons */
	.o_sel_assessment_item_submit span:before { 
		@include o-make-icon();
		content: $fa-var-check;
		padding-right: 0.5em
	}
	.o_sel_next_question span:after { 
		@include o-make-icon();
		content: $fa-var-chevron-right;
		padding-left: 0.5em
	}
	.o_sel_question_menu span:before { 
		@include o-make-icon();
		content: $fa-var-bars;
		padding-right: 0.5em
	}
	.o_sel_end_testpart span:before { 
		@include o-make-icon();
		content: $fa-var-check;
		padding-right: 0.5em
	}
	.o_sel_back_test_feedback span:before { 
		@include o-make-icon();
		content: $fa-var-chevron-left;
		padding-right: 0.5em
	}
	.o_sel_show_solution span:before { 
		@include o-make-icon();
		content: $fa-var-info;
		padding-right: 0.5em
	}
	.o_sel_solution_hide span:before { 
		@include o-make-icon();
		content: $fa-var-info;
		padding-right: 0.5em
	}
	
	.o_sel_skip_question span:before, .o_sel_back_question span:before, .o_sel_retry_question span:before {
		padding-right: 0.5em;
		margin-bottom: 0;
	}
}

.o_assessmentitem_control_view_solution {
	background: $o-qti-item-controls-bg;
	border: 1px solid $o-qti-item-controls-border-color;
	margin: 0;
	padding: $padding-small-vertical $padding-small-horizontal;
}

/* manual correction workflow */
.o_assessmentitem_scoring {
	background: $o-qti-item-title-bg;
	border: 1px solid $o-qti-item-title-border-color;
	border-bottom: 0;
	border-radius: $o-qti-item-title-border-radius $o-qti-item-title-border-radius 0 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: $padding-small-vertical $padding-small-horizontal;
}
.o_assessmentitem_scoring_buttons {
	background: $o-qti-item-controls-bg;
	border: 1px solid $o-qti-item-controls-border-color;
	border-top: 0;
	border-radius: 0 0 $o-qti-item-controls-border-radius $o-qti-item-controls-border-radius;
	margin-top: 0;
	margin-bottom: $padding-large-horizontal;
	padding: $padding-small-vertical $padding-small-horizontal;
}
.o_assessmentitem_scoring_override_window {
	width: 300px;
}


.itemPrompt {
	margin: 1.5em 0;
	font-style: italic;
	color: #666666;
}

.o_qti_item_body {
	margin: 1em 0;
}

.o_sel_assessment_item_hint {
	margin-top: 1em;
}

.o_assessment_test_results .o_sel_assessment_item_hint {
	display:none;
}

/* Choice interaction */
tr.choiceinteraction {
	td.control {
		padding: 0.5em;
	}
	
	td.choiceInteraction {
		padding: 0.5em;
	}
}

.choiceInteraction {
	label {
		font-weight: normal;
	}
}

.choiceInteraction input + i  {
	display: none;
}

.choiceInteraction div.o_qti_item_choice_option_flow  {
	display: inline-block;
	padding: .5em;
	border: 1px solid transparent;
	
	label span {
		font-weight: normal;
	
	}
	
	label span>p {
		display: inline-block;
	}
}

.choiceInteraction.choiceright table tr td.choiceInteraction {
	background-color: $o-qti-choice-tablelayout-bg;
	border-bottom: 3px solid white;
}

/* Match interaction */
.matchInteraction.choiceright table tr td.o_qti_item_kprim_text {
	background-color: $o-qti-choice-tablelayout-bg;
	border-bottom: 3px solid white;
}

table.table.o_qti_item_kprim>thead>tr>th, table.table.o_qti_item_kprim>tbody>tr>td, {
	border:none;
}

td.o_qti_item_kprim_input, th.o_qti_item_kprim_input {
	text-align:center;
}

table.o_qti_item_kprim {
	td.o_qti_item_kprim_input_correct {
		background-color: $o-qti-match-kprim-correct-bg;
	}
	
	td.o_qti_item_kprim_input_wrong {
		background-color: $o-qti-match-kprim-wrong-bg;
	}
	
	td.o_qti_item_kprim_input_correct, td.o_qti_item_kprim_input_wrong,
	th.o_qti_item_kprim_input_correct, th.o_qti_item_kprim_input_wrong {
		width: 11%;
	}
	td.o_qti_item_kprim_text, th.o_qti_item_kprim_text {
		width: 88%;
	}
}	

.matchInteraction {
	input[type='text'] {
		display:inline;
		width:auto;
	}
	
	div.bar_green { background-color: $o-qti-bar-green; }
	div.bar_red { background-color: $o-qti-bar-red; }
}

/* Match interaction drag & drop */
.source-left, .target-left, .source-right, .target-right {
	width: 50%;
	float: left;
	position: relative;
	padding: 0;
	margin-top: 5px;
}

.source-top, target-top, .source-bottom, .target-bottom {

}

.o_match_dnd_sources {
	padding: 10px 10px 0 10px;
	min-height: 60px;
	border: 1px solid $o-qti-match-sources-border-color;
	border-radius: $o-qti-match-border-radius;
	background: $o-qti-match-sources-bg;
	
	&.oo-accepted {
		border-color: $o-qti-match-drop-accept-border-color;
	}
}

.o_match_dnd_source {
	padding: 10px;
	margin-bottom: 10px;
	border: 2px $o-qti-match-source-border-style $o-qti-gap-border-color;
	border-radius: $o-qti-match-border-radius;
	background-color: #ffffff;
	background: $o-qti-match-source-bg;
	@include clearfix;
	
	&.oo-selected {
		border: 2px $o-qti-match-source-border-style $o-qti-match-selected-border-color;
		background: $o-qti-match-selected-bg;
	}
	
	&.oo-drag {
		border: 2px $o-qti-match-source-border-style $o-qti-match-drag-border-color !important;
	}
	
	cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;	
}

.source-bottom .o_match_dnd_source, .source-top .o_match_dnd_source {
	margin: 0 0 10px 0;
}

.o_match_dnd_targets .oo-accepted {
	border: 2px solid $o-qti-match-drop-accept-border-color;
	border-radius: $o-qti-match-border-radius;
}

.o_match_dnd_target {
	padding: 10px 10px 0 10px;
	margin: 0 0 10px 10px;
	border: 2px solid $o-qti-match-target-border-color;
	border-radius: $o-qti-match-border-radius;
	background: $o-qti-match-target-bg;
	@include clearfix;

	.o_match_dnd_target_drop_zone {
		margin: 0;
		padding: 5px 0 0 15px;
		min-height: 30px;
		
		.o_match_dnd_source {
			border: 2px $o-qti-match-source-border-style $o-qti-match-choosed-border-color;
		}
	}
}

.target-bottom .o_match_dnd_target, .target-top .o_match_dnd_target {
	margin: 0 0 10px 0;
	
	.o_match_dnd_target_drop_zone {
		padding-left: 0px;
		
		.o_match_dnd_source {
			padding-left: 15px;
		}
	}
}

/* Match true/false */
.table.o_match_true_false_edit {
	th.o_sel_match_target_0, th.o_sel_match_target_1, th.o_sel_match_target_2 {
		width: 12%;
	}
}

.match_true_false {

	input[type="checkbox"] {
		-webkit-appearance: radio;
		-moz-appearance: radio;
		-ms-appearance: radio;
		appearance: radio;
	}

	.table>tbody>tr>td.o_match_true_false_unanswered,
	.table>tbody>tr>td.o_match_true_false_right,
	.table>tbody>tr>td.o_match_true_false_wrong {
		vertical-align: middle;
		width: 11%;
	}
	
	th.o_match_true_false_unanswered,
	th.o_match_true_false_right,
	th.o_match_true_false_wrong {
		width: 11%;
	}
	
	td.o_match_true_false_answer,
	th.o_match_true_false_answer {
		width: 67%;
	}
	
	td.o_match_true_false_unanswered {
		background-color: $o-qti-match-true-false-unanswered-bg;
	}
	
	td.o_match_true_false_right {
		background-color: $o-qti-match-true-false-right-bg;
	}
	
	td.o_match_true_false_wrong {
		background-color: $o-qti-match-true-false-wrong-bg;
	}
}

/* Hottext interaction */
.hottextInteraction	.hottext {		
	position: relative;
	margin: -2px 0.15em -2px 0.15em;
	white-space: nowrap;

	input {
		margin: 0 3px 0 2px;
		position: absolute;
		top: 0.1em;
		left: 0.05em;
		+label {
			display: inline;
			padding: 0 0.1em 0 1.2em;
			background: $o-qti-hottext-bg;
			border: 1px solid $o-qti-hottext-border-color;
			border-radius: $o-qti-hottext-border-radius;
			
			color: $o-qti-hottext-color;
			font-weight: normal;
			white-space: normal;
		}
		&:checked+label {
			color: $o-qti-hottext-checked-color;
			background: $o-qti-hottext-checked-bg;
			border: 1px solid $o-qti-hottext-checked-border-color;
		}
	}
}

/* Order interaction */
.orderInteraction {
	div.highlight {
		border: 1px solid $o-qti-highlight-color;
	}
	
	div.box.vertical {
		width: 50%;
		float: left;
		position: relative;
		padding: 0;
		margin-top: 5px;
		
		ul {
			min-height: 200px;
		}
	}
	
	div.box.horizontal {
		ul {
			min-height: 50px;
			width: 100%;
		}
	}
	
	div.box.source {
		padding: 5px 10px;
		border: 1px solid $o-qti-order-sources-border-color;
		border-radius: $o-qti-order-border-radius;
		background: $o-qti-order-sources-bg;
	}
	
	div.box.source.horizontal {
		padding: 5px 10px 15px 10px;
	}
	
	div.box.target {
		ul {
			border: 2px solid $o-qti-order-target-border-color;
			border-radius: $o-qti-order-border-radius;
			background: $o-qti-order-target-bg;
			
			&.oo-accepted {
				border-color: $o-qti-order-drop-accept-border-color;
			}
		}	
	}
	
	div.box.target.vertical {
		padding: 6px 0 0 10px;
		
		ul {
			padding: 10px;
		}
	}
	
	div.box.target.horizontal {
		padding-top: 10px;
		
		ul {
			padding: 10px 10px 0 10px;
		}
	}
	
	div.box.horizontal ul li {
		float: left;
		width: auto;
		margin-right: 10px;
		min-width: 50px;
	}

	div.box span.info {
		color: $o-qti-box-color;
		font-style: italic;
		font-size: smaller;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

/* Slider interaction */
.sliderInteraction {
	margin: 1em;
	.sliderVertical .sliderValue {
		margin: 1em 0;
	}
	.sliderVertical .sliderWidget {
		height: 200px;
	}
	.sliderHorizontal .sliderValue {
		text-align: center;
	}
}

/* MathEntryInteraction styling for MathAssess */
.o_assessmentitem .mathEntryInteraction {
	border: 1px solid #ddedfc;
	background-color: #edf1f6;
	background: linear-gradient(to top, #edf1f6 0%, #f6f9fb 100%);
	border-radius: 0.4em;
	padding: 1em;
	margin: 0.5em 0;
	
	.inputPanel {
		line-height: 1em;
		text-align: left;
		
		input {
			margin: 0;
			padding: 0;
		}
	}
	
	.previewPanel {
		text-align: center;
	}
}

.o_assessmentitem .mathEntryInteraction.horizontal {
	min-height: 5em;
	width: 40em;
	
	.inputPanel {
		width: 45%;
		float: left;
		margin: 2em 0;
	}
	
	.previewPanel {
		width: 50%;
		margin-left: 40%;
	}
}

.o_assessmentitem .mathEntryInteraction.vertical {
	min-height: 6em;
	.inputPanel {
		padding: 0 5em;
	}
	
	.inputPanel:before {
		content: 'Input Maths: ';
	}
	
	.previewPanel {
		margin-top: 2em;
		min-height: 4em;
	}
}

.o_assessmentitem {
	div.upConversionAjaxControlMessage {
		width: auto;
		text-align: center;
		display: inline;
		padding: 0.5em 0 0.5em 20px;
	}

	div.success {
		background: $o-qti-success;
	}

	div.failure {
		background-color:$o-qti-failure;
	}

	div.error {
		background-color:$o-qti-error;
	}

	div.upConversionAjaxControlError {
	}

	div.upConversionAjaxControlPreview {
		margin: 0.5em 0;
		font-size: 110%;
	}
}

/* Help for Math Input */

.o_assessmentitem table.inputHelp {
	border-collapse: collapse;
	width: 100%;
	font-size: 90%;
	
	th {
		border: 1px solid #999999;
		padding: 0.2em 0.5em;
			background-color: #cad8e5;
	}

	td {
		color: #999999;
		border: 1px solid #999999;
		padding: 0.2em 0.5em;
	}

	kbd {
		color: black;
		font-size: 100%;
		line-height: 100%;
	}

	.longComma {
		margin-right: 0.5em;
	}
}

/* Correct solution feedback */
.o_togglebox_wrapper #modal-correct-solution div.o_togglebox_content {
	background-color: $o-box-warning-bg;
	border-color: $o-box-warning-color;
}

/* Candidate comment */
.o_candidatecomment {
	padding: 0;
	margin: 2em 0 1em 0;
	border: none;
	
	legend {
		font-size: 110%;
		font-weight: bold;
		color: $text-muted;
		margin-bottom: 0;
		border-bottom: 0;
	}
	
	div.o_item_container_help {
		margin: 0;
		padding: 0;
	}
	
	textarea {
		display: block;
		color: $text-muted;
	}
}

.o_qti_menu_menustyle ul.o_testpartnavigation {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li.o_assessmentsection {
		border: 1px solid $o-qti-menu-border-color;
		border-radius: $o-qti-menu-border-radius;
		background: $o-qti-menu-bg;
		padding: 0 1em 0.5em 1em;
		margin: 0 0 0.5em 0;
		
		header {
			margin: 0 0 1em 0;
		}
		
		header div.rubric {
			font-style: italic;
		}
		
		ul.o_testpartnavigation_inner {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
	
	li.o_assessmentitem {
		padding: 0.1em 0;
	    a {
	    	color : $o-qti-menu-link-color;
			overflow-wrap: break-word;
	    	&:hover,
			&:focus {
				color: $o-qti-menu-link-hover-color;
				overflow-wrap: break-word;
			}
	    }
		&.active a {
			color : $o-qti-menu-link-active-color; 
			font-weight: $o-qti-menu-link-active-font-weight;
			overflow-wrap: break-word;
			&:hover,
			&:focus {
				color: $o-qti-menu-link-active-hover-color; 
				background-color : $o-qti-menu-link-active-hover-bg;
				overflow-wrap: break-word;
			}
		}
		
		span {
			vertical-align: middle;
		}

		.o_assessmentitem_status {
			display: inline;
			position: relative;
			left: -0.3em;
			background: transparent;
			border: 0;
			span {
				/* hide status description */
				display: none;
			}
		}

		.o_assessmentitem_attempts {
			float: right;
			display: block;
			padding: 0.3em;
			border-radius: 2px;
			background-color: #fafafa;
			color: $o-qti-attempts-color;
			font-size: 0.7em;
			
			&.o_assessmentitem_attempts_limited {
				color: $o-qti-attempts-limited-color;
			}
			&.o_assessmentitem_attempts_nomore {
				color: $o-qti-attempts-nomore-color;
			}
		}

		.o_assessmentitem_marks {
			float: right;
			display: inline-block;
			font-size: 0.8em;
			position: relative;
			top: 0.3em;
			right: -0.5em;
		}
		
		/* old badge style rendering
		.o_assessmentitem_status {
			float: right;
			display: block;
			padding: 0.3em;
			border-radius: 0.3em;
			border-width: 1px;
			font-size: 0.8em;
			color: #fff;
			span { 
				display: inline;
			}
			i { 
				display: none;
			}
			&.ended {
			  background-color: $o-qti-status-ended-color;
			}
			&.invalid {
			  background-color: $o-qti-status-invalid-color;
			}
			&.answered {
			  background-color: $o-qti-status-answered-color;
			}
			&.notAnswered {
			  background-color: $o-qti-status-notAnswered-color;
			}
			&.notPresented {
				background-color: $o-qti-status-notPresented-color;
			}
			&.review {
				background-color: $o-qti-status-review-color;
			}
			&.reviewNotAllowed, 
			&.reviewInvalid, 
			&.reviewNotAnswered, 
			&.reviewNotSeen {
				background-color: $o-qti-status-review-color;
				opacity: 0.7;
			}
		}
		*/
	}
	
	.o_assessmentitem .questionTitle {
		margin-right: 1em;
		overflow-wrap: break-word;
	}
}

/* Test feedback after test */
.testFeedback {
	h1:first-of-type {
		margin-top: 0;
	}
}

/* Test Item Presentation */
ul.testPartDrilldown {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li.o_assessmentsection {
		border: 1px solid $o-qti-menu-border-color;
		border-radius: $o-qti-menu-border-radius;
		background: $o-qti-menu-bg;
		padding: 0 1em 0.5em 1em;
		
		header {
			margin: 0 0 1em 0;
			
			div.rubric {
				font-style: italic;
			}
		}
		
		ul.testPartDrilldownInner {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
	
	li.currentItem {
		border: 1px solid $o-qti-menu-border-color;
		border-radius: 0.5em;
		padding: 0 1em;
		margin-top: 1em;
	}
}

.testItemControl {
	margin-top: 0.5em;
}

tr.o_test_session_error>td, tr.o_test_session_cancelled>td {
	text-decoration: line-through;
}

/* Statistics */
/* Override the same for QTI 1.2 */
ul.o_qti_statistics_answers li span.o_qti_statistics_answer {
	background: #F5F5F5;
	padding: 1px 3px;
	width: 90%;
	display: inline-block;
}

/* Results reporting / detailed assessment results */
.o_assessment_test_results {
	.o_qti_assessment_title {
		border-bottom: 1px solid $panel-default-border;
	}
	
	/* align tables in assessment results to have same column width */
	table th {
		width: 40%;	
	}
	.o_qti_metainfo {
		.o_qti_metainfo_listing{
			.o_qti_run_durationinfo {}
			.o_qti_run_questioninfo {}
			.o_qti_run_scoreinfo {}
			.o_qti_cutinfo {}
			.o_qti_stateinfo {}
			.o_qti_signature {}
		
		}
		.o_qti_metainfo_visual{}
	}
	.o_qti_sectionsummary {
		.o_qti_section {
			text-align: center;
			.o_qti_section_visual{}
			.o_qti_section_goto {}
			.o_qti_section_sublisting {
				padding: 0 10%;
				min-height: 3em;
			}
		}
	}
	
	.o_qti_sections {
		.o_qti_section {
			margin-top: 40px;
			h3 {
				margin-bottom: 20px;
			}
			.o_qti_items {
				.o_qti_item {
					.o_qti_item_id {
						display: none;
					}
					.o_qti_item_comment {
						@extend %o_note;
						margin: 0;
						padding: 5px 10px 10px 5px;
						border-top: 1px solid $panel-default-border;
						h4 {
							font-size: 100%;
							font-weight: bold;
							color: inherit;
						}
					}
				}
			
			}
		}
	}
	.o_qti_to_overview {
		text-align: right;
		@extend %o_small;			
	}	
}

/* Editor */
.o_sel_assessment_item_feedbacks {
	min-height: 250px;
}

.o_alternative_question_types h4 select {
	display: inline-block;
	width: auto;
}

/* Statistics */
div.o_qti_statistics {
	ul { 
		list-style-type: none;
		padding:0; 
		margin:0;
		font-size: 90%;
		
		strong {font-weight: normal;}
		li { 
			padding-left: 48px; 
			margin-left: 0;
			margin-bottom: 10px;	
			&.o_qti_statistics-ncorrect:before { font-size: 125%; content:'\2A2F\00A0\00A0'; }
			&.o_qti_statistics-correct:before { font-size: 125%; content:'\2713\00A0\00A0'; }
			&.o_qti_statistics-kplus:before { font-size: 125%; content:'\2713\00A0\2A2F\00A0\00A0'; }
			&.o_qti_statistics-kminus:before { font-size: 125%; content:'\2A2F\00A0\2713\00A0\00A0'; }
			img { vertical-align: top;}
		}
	}

	/* table style that floats to a two column table when enough space available */	
	table.o_qti_statistics_figures {
		tr { float: left; }		
		tr:nth-child(2n+1) { clear: left; padding-right: 20px; }
		td, th { width: 300px; padding-left: 0; vertical-align: bottom; }
		th+td { width: 100px; }
	}
	
	.o_qti_statistics_answer {
		background: #F5F5F5;
		padding: 1px 2px;
		width: 90%;
	}
	
	div.o_qti_statistics_legend {
		padding-top: 10px;
		width: 470px;
		border: 1px solid $table-border-color;
		border-radius: $panel-border-radius;
		ul li {
			.bar_green { background-color:#9dd53a; }
			.bar_red { background-color:#f85032; }
			.bar_grey { background-color:lightgrey; }
			
			.bar_color_legend {
				display: inline-block;
				width: 1em;
				height: 1em;
				margin-right: 0.3em;
			}
		}
	}
}

/* Instead of media print because Firefox doesn't take some rules in account */
.o_qti_print div.o_qti_statistics { width:680px; }


@media print {
	canvas, div.hotspotInteraction>div>div {
		-webkit-print-color-adjust: exact;
        color-adjust: exact;
	}

	.choiceInteraction {
		label {
			font-weight: normal;
		}
	}
	
	.choiceinteraction input[type="radio"][disabled],
	.choiceinteraction input[type="checkbox"][disabled],
	.matchInteraction input[type="radio"][disabled],
	.matchInteraction input[type="checkbox"][disabled] {
		display: none;
	}
	
	.choiceinteraction input + i,
	.matchInteraction input + i  {
		display: inline;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		font-size: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	.choiceInteraction input[type="radio"][disabled] + i:before,
	.matchInteraction input[type="radio"][disabled] + i:before,
	.matchInteraction.match_true_false input[type="checkbox"][disabled] + i:before {
		content: $fa-var-circle-o;
	}
	.choiceInteraction input[type="radio"][disabled]:checked + i:before,
	.matchInteraction input[type="radio"][disabled]:checked + i:before,
	.matchInteraction.match_true_false input[type="checkbox"][disabled]:checked + i:before {
		content: $fa-var-dot-circle-o;
	}
	.choiceInteraction input[type="checkbox"][disabled] + i:before,
	.matchInteraction input[type="checkbox"][disabled] + i:before {
		content: $fa-var-square-o;
	}
	.choiceInteraction input[type="checkbox"][disabled]:checked + i:before,
	.matchInteraction input[type="checkbox"][disabled]:checked + i:before {
		content: $fa-var-check-square-o;
	}
	
	div.o_qti_statistics {
		width:680px;
	}
}
