.o_table_wrapper {

	&.o_table_flexi {
		.o_table_body{
			margin-top: $line-height-computed;
		}
		.table {
			margin-top: $line-height-computed;
			td ul {
				margin: 0;
			}
		}
		&.o_table_no_margin .table {
			margin: 0;
		}
		tfoot {
			border-top:solid $table-border-color 2px;
		}
		
		.o_multiselect {
			width: 20px;
			text-align: center;
		}
		
		.o_table_pagination {
			display: flex;
			justify-content: space-between;
		}
	}
	
	&.o_table_edit table tbody {
		border-top:solid $o-table-edit-border 4px;
		background-color: $o-table-edit-bg;
	}

	.o_table_footer {
		.o_table_expandall>a {
			font-weight: normal;
			margin-right: 10px;
		}
		
		.o_table_expandall.input-sm {
			padding: 5px 6px;
		}	

		.o_table_pagination {
			text-align: center;
		}
	}
	
	.o_table_rows_infos {
		float: left;
		padding-left: 0;
		padding-right: 20px;
		margin: $line-height-computed 0;
	}
	
	.o_row_selected td { 
		background-color: $o-table-row-selected-color !important; 
	}

	.o_table {
		margin-bottom: 0;
	}
	.o_marked {
		 font-weight: bold;
	}

	.table {
		margin-bottom: 0;
		border-collapse: separate; /* fix FF border problem with sticky cols below */ 
	}
	
	th {
		a, a:hover {
			color: $o-table-header-color;
			text-decoration: none;
		}
	}
	/* action cols must have a minimum width to users can touch it */
	.o_col_action {
		.o_icon_actions {
			width: 25px;
		}
	}

	/* sticky first (checkboxes) and last (actions) columns on scrolling */
	.o_col_sticky_left,
	.o_col_sticky_right {	
		position: sticky;
		background: white;
		z-index: 1; /* above normal columns that are positioned */
		transition: 0.3s background;
	}
	.o_col_sticky_left {
		left: 0;
	}
	.o_scrollable_left .o_col_sticky_left {
		box-shadow: 2px 0 2px -2px darken($table-border-color,10%);
    	background-color: rgb(250,250,250);
	}
	.o_multiselect.o_table_checkall.o_col_sticky_left {
		z-index: 2;		/* make select-all menu appear above sticky columns */
	}
	.o_col_sticky_right {
		right: 0;
	}
	.o_scrollable_right .o_col_sticky_right {
		box-shadow: -2px 0 2px -2px darken($table-border-color,10%);
    	background-color: rgb(250,250,250);
	}
		
	
	/* fix striped and hover bg colors for sticky columns */
	.table-striped {
  		> tbody > tr:nth-child(odd) {
  			.o_col_sticky_right,
  			.o_col_sticky_left {		
		    	background-color: $table-bg-accent;
		    }
		}
	}
	.o_scrollable_right .table-striped {
  		> tbody > tr:nth-child(odd) {
  			.o_col_sticky_right {		
		    	background-color: rgb(245,245,245);
		    }
		}
  	}
	.o_scrollable_left .table-striped {
  		> tbody > tr:nth-child(odd) {
  			.o_col_sticky_left {		
		    	background-color: rgb(245,245,245);		    
			}
		}
  	}
  	.table-hover {
  		> tbody > tr:hover {
  			.o_col_sticky_right,
  			.o_col_sticky_left {		
    			background-color: $table-bg-hover;
  			}
		}
	}
}

.o_table_tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	
	border-bottom: 1px solid $o-table-filter-collapse-color;

	ul.o_segments.o_segments_tab {
		padding: 0;
		margin: 0;
		flex: 1;
		border-bottom: none;
	}
	
	ul.o_segments.o_segments_tab.btn-group a span {
		display: initial;
	}
	
	ul>li {
		display: inline-block;
	}
	
	>a.o_table_remove_filters {
		display: block;
	}
}

.o_table_filters_wrapper {
	z-index: 3;
	position: relative;
	text-align: center;

	.o_table_filters_row {
		padding: 10px 0 10px 0;
		
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		>ul.o_table_filters {
			flex: 1;

			>li {
				margin-left: 0px;
				margin-right: 2px;
			}
			.o_table_filter, .o_table_add_filter {
				width: 200px;
				text-align: left;
				position: relative;
				span + i {
					position: absolute;
					right: 5px;
					top: 10px;
				}
				padding-right: 15px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;		
			}	
		}
		>ul.o_table_filters_config {
			margin-left: 1em;
			margin-top: 0;
			margin-bottom: auto;
		}
		
		a.btn {
			padding: 6px 12px;
			margin-right: 2px;
			margin-bottom: 2px;
			background-image: none;
			filter: none;
		}
	}
	
	>.o_button_group {
		border-top: 1px solid $o-table-filter-collapse-color;
		margin: 0;
	}
	
	&.o_collapsed>.o_button_group {
		margin-top: -1px;
	}
	
	&.always-on {
		margin-bottom: 4px;
		
		.o_table_filters_row {
			padding: 0;
			border-bottom: none;
		}
	}
	
	.o_button_details {
		margin: -2px auto 0 auto;
		
		padding: 0px 8px;
		border: $o-cn-style-border;
	
		>span {
			display: none;
		}
	}
	&.o_collapsed {
		margin-bottom: 5px;
		.o_button_details {
			border-top: 0px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
	}

	&.o_expanded .o_button_details {
		position: relative;
		top: -10px;
	}
}

.o_table_batch_buttons {
	margin-top: 0px;
	margin-bottom: -3px; /* compensate for small batch buttons */
	position: relative;
	z-index: 2;
	text-align: left;
	
	&.o_table_batch_hide {
		display: none;
	}
	
	>span {
		position: absolute;
		bottom: -20px;
		vertical-align: middle;
		margin-bottom: 0.5em;
	}
	.o_table_batch_label {
		padding-right: 1em;
		font-size: $font-size-small;
		color: $text-muted;
	}
	.btn.btn-default {
		@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		font-size: $font-size-small;
		text-shadow: none;
	}
}

.input-group .input-group-btn .o_reset_filter_search {
	width: 38px;
	margin-left: -38px;
	z-index:5;
	color: grey;
}

.o_filter_search_list_values {
	max-height: 300px;
	overflow-y: scroll;
	margin-right: -15px;
}

a.o_filter_clear {
	padding-left: 1em;

}


.o_breadcrumb.o_table_flexi_breadcrumb ol.breadcrumb {
	margin: 5px 0 0 0;
}

div.o_table_flexi div.o_table_flexi_leaf  {
	margin-left: 1.55em;
}

@for $i from 0 through 11 {
	div.o_table_flexi div.o_table_flexi_l#{$i}  {
		padding-left: ($i * $o-tree-padding-steps-px); 
	}
}

@media (max-width: $screen-xs-max) { 
	.o_table_wrapper .o_table_rows_infos {
		clear:both;
	}
}

a.o_orderby, a.o_orderby:hover {
	color: $o-table-header-color;
	text-decoration: none;
	white-space: nowrap;

	&.o_orderby_asc::after, &.o_orderby_desc::after {
		font-family: FontAwesome;
		color: $brand-primary;
		margin-left: 5px;
	}
	
	&.o_orderby_asc::after {
		content: '\f0d8';
	}
	
	&.o_orderby_desc::after {
		content: '\f0d7';
	}
}

.o_row_selected {
	background: $o-table-row-selected-color !important;	
}
.o_table_row_count {
	padding-top:6px;
	padding-bottom:6px;
	vertical-align:middle;
}

.o_table_row_details {
	& > td {
		background: rgba(238, 247, 251, 0.3);
	}
	& > td:first-child {
		border-left: 1px solid #EBEBEB;
	}
	& > td:last-child {
		border-right: 1px solid #EBEBEB;
	}
}

.o_table_config {
	font-size: floor($font-size-base * 0.9);
}

.o_table_tools {
	margin-left: 6px;
}

.o_table_tools_indications, .o_table_tools_indications_filter_only {
	padding-top:3px;
	font-size:80%;
	
	a {
		color: $brand-danger;
	}
}

.o_table_toolbar_left .o_table_tools_indications {
	text-align: right;
}

.o_table_count {
	max-width:20em;
	float:left;
	padding: 0 $panel-body-padding;
}

.o_table_search, .o_table_large_search {
	white-space: nowrap;
	
	input[type='text'] {
		max-width: 300px;
		display: inline-block;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		// vertical-align: middle !important;
	}
	
	.twitter-typeahead input[type='text'] {
		vertical-align: baseline !important;
	}
	
	input[type='text']:focus ~ a.btn	 {
		$color-rgba: rgba(red($input-border-focus), green($input-border-focus), blue($input-border-focus), .6);
		outline: 0;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $color-rgba);
		border-color: $input-border-focus;
	}
	
	a.btn.o_reset_quick_search {
		border-right: none;
		border-radius: 0;
		margin-right: 0 !important;
	}
	
	a.btn.o_table_search_button, a.btn.o_sel_flexi_extendedsearch, a.btn.o_reset_quick_search {
		display: inline-block;
		color: grey;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-left: none;
		margin: -1px 1em 0px -1px;
		vertical-align: baseline;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	
		>span {
			display: none;
		}
	}
	
	.o_table_rowcount {
		color: $text-muted;
	}
}

.o_table_search.o_table_search_extended a.btn.o_table_search_button {
	margin-right: 0;
	color: $btn-default-color;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-right: none;
	
	>span {
		display: inline-block;
	}
}

.o_table_search.o_table_search_extended a.btn.o_sel_flexi_extendedsearch {
	color: $btn-default-color;
	
	>span {
		display: inline-block;
	}
}

.o_table_toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	
	&.o_table_batch_show {
		display: none;
	}
	
	.o_table_search {
		flex: 1;
	}
}

.o_table_large_search {
	text-align: center;
	padding: 15px 20px;
	
	input[type='text'] {
		max-width: 400px;
		width: 90%;
	}
}

.o_table_filter, .o_table_add_filter {
	.control-label {
		margin-right: 0.5em;
		&:after {
			content: ':';
		}
	} 
	
 	> div {
		display:inline-block;
	
		label {
			font-weight: normal;
		}
	}
}

/* Use special coloring for filter menu to better separate form normal forms    */
/* Primary color for dark colors, otherwise use the text color                  */
.o_table_filter {
	@if color.blackness($btn-primary-border) < 30 {
		@include button-variant($text-color, #fff, $btn-primary-border);
	} @else {
		@include button-variant($btn-primary-border, #fff, $btn-primary-border);
	} 
}

 table tr.o_no_border td,
 table tr.o_no_border th {
 	border-top: 0;
 }

/* bootstrap extensions */
.o_info, o_note, o_important, o_warning, o_error {
	.table-bordered td,
	.table-bordered th {
		border-color: $gray-dark;
	}
}

/* table embedded in panels */
.panel {
	.o_table_layout {
		border-top: 1px solid $panel-default-border;
		padding-top: $padding-base-vertical;
	}
	.o_table_count {
		padding: 0 $panel-body-padding;
	}
}

.o_table_header_fw {
	width: 40px;
}

.o_table_filters_and_settings {
	.o_button_group.o_reset {
		margin-top: 0;
	}

	.o_table_render_types div.form-inline {
		width: 100%;
		padding-top: 10px;
		display: table;
		table-layout: fixed;
		
		label.btn {
			float: none;
			display: table-cell;
		}
	}
}

/* special styles for mobile view */
.o_table_modal_settings {
	ul a {
		display: flex;
		flex-wrap: nowrap;
		align-content: stretch;
		white-space: nowrap;
		margin: 1em 0 1em 0;
	
		span {
			flex-grow: 1;

			display: flex;
			flex-wrap: nowrap;
			align-content: stretch;

			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			
			small {
				flex-grow: 1;
				text-align: right;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;				
				padding: 0 1em 0 1em;
				/* mysterious fix for vertical alignment with ellipsis */
				position: relative;
				bottom: -3px;
			}
		}
		i {
			flex-grow: 0;
		}
	}
	a+h4, ul+h4 {
		margin-top: 2em;
	}
	
}


@media (max-width: 540px) {
	.o_table_filters_wrapper.o_collapsed .o_button_group,
	.o_table_filters_wrapper.o_expanded,
	.o_table_filters_wrapper.o_table_filters_large_off .o_table_filters_row,
	.o_table_filters_wrapper.o_table_filters_large_off .o_button_group,
	.o_table_tools > .btn-group:not(.o_table_settings),
	.o_table_search > span {
		display: none;
	}
	
	.o_table_filters_wrapper.o_collapsed,
	.o_table_filters_wrapper.o_expanded {
		margin-bottom: $line-height-computed;
	}
	
	.o_table_toolbar .o_table_search input[type='text'] {
		max-width: 170px;// iPhone SE
	}
	
	.o_table_large_search {
		/* fix odd alignment on mobile */
		padding-left: 0px;
		margin-right: 20px;
	}
}

@media (min-width: 540px) {
	.o_table_tools .o_table_settings {
		display: none;
	}
}

@media (max-width: $screen-sm-min) {
	.o_table_search>span	  {
		display: none;
	}
}



	