<div class="o_userShortDescription" id="$r.getCId()">
<table class="table table-bordered table-condensed table-striped">
	#foreach($row in $additionalRows.getRows())
		#if($r.isTrue($row.before))
		<tr class="o_prop">
			<th scope="row">$row.getColumn1()</th>
			<td>$row.getColumn2()</td>
		</tr>
		#end
	#end
	#if($r.isNotNull($identityKey) && $r.isNotNull($usernamePosition) && $usernamePosition == "top")
		#if($r.isNotNull($username))
		<tr class="o_prop o_username">
			<th scope="row">$usernameLabel</th>
			<td>$username</td>
		</tr>
		#end
	<tr class="o_prop o_id">
		<th scope="row">Identity</th>
		<td>$identityKey</td>
	</tr>
	#end
	#foreach( $propertyHandler in $userPropertyHandlers )
	    #if ($propertyHandler.getUserPropertyAsHTML($user, $locale) && $propertyHandler.getUserPropertyAsHTML($user, $locale) != "")
		<tr class="o_prop o_${propertyHandler.name}">
			<th scope="row">$r.translate($propertyHandler.i18nFormElementLabelKey())</th>
			<td>$propertyHandler.getUserPropertyAsHTML($user, $locale)</td>
		</tr>
		#end
	#end
	#if($r.isNotNull($identityKey) && $r.isNotNull($usernamePosition) && $usernamePosition == "bottom")
		#if($r.isNotNull($username))
		<tr class="o_prop o_username">
			<th scope="row">$usernameLabel</th>
			<td>$username</td>
		</tr>
		#end
	<tr class="o_prop o_id">
		<th scope="row">Identity</th>
		<td>$identityKey</td>
	</tr>
	#end
	#foreach($row in $additionalRows.getRows())
		#if($r.isFalse($row.before))
		<tr class="o_prop">
			<th scope="row">$row.before $row.getColumn1()</th>
			<td>$row.getColumn2()</td>
		</tr>
		#end
	#end
</table>
</div>
