<div class="o_cn_styled o_cn_peekview o_colcat_top #if($item.colorCategoryCss) $item.colorCategoryCss #end #if($r.isNotEmpty($teaserImageUrl)) o_$item.getTeaserImageStyle() #end" data-nodeid="$item.nodeIdent">
	<div class="o_top #if($item.colorCategoryCss) $item.colorCategoryCss #end" #if($cover) style="background-image:url($teaserImageUrl)" #end>
		<div class="o_text">
			<div class="o_text_block">
				<div>
					<div class="o_title">
						<h4>$r.render("nodeLink")#if($r.isNotEmpty($item.subTitle)) <small>$r.escapeHtml($item.subTitle)</small>#end</h4>
					</div>
					#if($r.isNotEmpty($item.learningPathStatus) || $r.isNotEmpty($assessmentInfos))
						<div class="o_assessment">
							#if($r.isNotEmpty($item.learningPathStatus))
									<span class='o_labeled $item.learningPathStatus.cssClass'><i class='o_icon $item.learningPathStatus.cssClass'> </i> $r.translate("$item.learningPathStatus.i18nKey")</span>
								#end
								#if($r.isNotEmpty($assessmentInfos))
									<span>$assessmentInfos</span>
								#end
						</div>
					#end
				</div>
				<div></div>
			</div>
		</div>
		#if($r.isNotEmpty($teaserImageUrl) && !$cover)
			<div class="o_image"><img class="$item.colorCategoryCss" src="$teaserImageUrl"></div>
		#end
	</div>
	#if($r.isNotEmpty($item.description))
		<div class="o_expanded o_text">
			<div class="o_text_block">
				<div>
					<div>$r.formatLatexFormulas($item.description)</div>
				</div>
				<div></div>
			</div>
		</div>
	#end
	#if($r.isNotEmpty($item.noAccessMessage))
		<div class="o_expanded o_text">
			<div class="o_text_block o_no_access">
				<div>
					<h5>$r.translate("info.header")</h5>
					<div>$item.noAccessMessage</div>
				</div>
				<div></div>
			</div>
		</div>
	#end
	#if ($r.available("peekView"))
		<div class="o_peekview">$r.render("peekView")</div>
	#end
</div>