﻿@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Thin.ttf") format("truetype");font-weight:100;font-style:normal}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");font-weight:100;font-style:italic}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Light.ttf") format("truetype");font-weight:300;font-style:normal}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");font-weight:300;font-style:italic}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");font-weight:400;font-style:normal}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Italic.ttf") format("truetype");font-weight:400;font-style:italic}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Medium.ttf") format("truetype");font-weight:500;font-style:normal}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");font-weight:500;font-style:italic}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Bold.ttf") format("truetype");font-weight:700;font-style:normal}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");font-weight:700;font-style:italic}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-Black.ttf") format("truetype");font-weight:900;font-style:normal}@font-face{font-family:"Roboto";src:url("fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");font-weight:900;font-style:italic}/*!
 * ========================================================
 *  <a href="http://www.openolat.org">
 *  OpenOLAT - Online Learning and Training</a><br>
 *  <p>
 *  Licensed under the Apache License, Version 2.0 (the "License"); <br>
 *  you may not use this file except in compliance with the License.<br>
 *  You may obtain a copy of the License at the
 *  <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache homepage</a>
 *  <p>
 *  Unless required by applicable law or agreed to in writing,<br>
 *  software distributed under the License is distributed on an "AS IS" BASIS, <br>
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. <br>
 *  See the License for the specific language governing permissions and <br>
 *  limitations under the License.
 *  <p>
 *  Initial code contributed and copyrighted by<br>
 *  09.04.2014 by frentix GmbH, http://www.frentix.com
 *  <p>
 *
 *
 *  @author gnaegi, www.frentix.com
 *  @date April. 2014
 * ========================================================
**//*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */@media print{*,*:before,*:after{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff !important}.navbar{display:none}.btn>.caret,.dropup>.btn>.caret{border-top-color:#000 !important}.label{border:1px solid #000}.table{border-collapse:collapse !important}.table td,.table th{background-color:#fff !important}.table-bordered th,.table-bordered td{border:1px solid #ddd !important}}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:Roboto,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-size:14px;line-height:1.428571429;color:#2d2926;background-color:#fff}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#209d9e;text-decoration:none}a:hover,a:focus{color:#177374;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.428571429;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.1;color:#342c24}h1 small,h1 .small,h2 small,h2 .small,h3 small,h3 .small,h4 small,h4 .small,h5 small,h5 .small,h6 small,h6 .small,.h1 small,.h1 .small,.h2 small,.h2 .small,.h3 small,.h3 .small,.h4 small,.h4 .small,.h5 small,.h5 .small,.h6 small,.h6 .small{font-weight:normal;line-height:1;color:#777}h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:10px}h1 small,h1 .small,.h1 small,.h1 .small,h2 small,h2 .small,.h2 small,.h2 .small,h3 small,h3 .small,.h3 small,.h3 .small{font-size:65%}h4,.h4,h5,.h5,h6,.h6{margin-top:10px;margin-bottom:10px}h4 small,h4 .small,.h4 small,.h4 .small,h5 small,h5 .small,.h5 small,.h5 .small,h6 small,h6 .small,.h6 small,.h6 .small{font-size:75%}h1,.h1{font-size:36px}h2,.h2{font-size:30px}h3,.h3{font-size:24px}h4,.h4{font-size:18px}h5,.h5{font-size:14px}h6,.h6{font-size:12px}p{margin:0 0 10px}.lead{margin-bottom:20px;font-size:16px;font-weight:300;line-height:1.4}@media(min-width: 768px){.lead{font-size:21px}}small,.small{font-size:85%}mark,.mark{background-color:#fcf8e3;padding:.2em}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}.text-muted{color:#777}.text-primary{color:#209d9e}a.text-primary:hover{color:#177374}.text-success{color:#3c763d}a.text-success:hover{color:#2b542c}.text-info{color:#31708f}a.text-info:hover{color:#245269}.text-warning{color:#8a6d3b}a.text-warning:hover{color:#66512c}.text-danger{color:#a94442}a.text-danger:hover{color:#843534}.bg-primary{color:#fff}.bg-primary{background-color:#209d9e}a.bg-primary:hover{background-color:#177374}.bg-success{background-color:#dff0d8}a.bg-success:hover{background-color:#c1e2b3}.bg-info{background-color:#d9edf7}a.bg-info:hover{background-color:#afd9ee}.bg-warning{background-color:#fcf8e3}a.bg-warning:hover{background-color:#f7ecb5}.bg-danger{background-color:#f2dede}a.bg-danger:hover{background-color:#e4b9b9}.page-header{padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid #eee}ul,ol{margin-top:0;margin-bottom:10px}ul ul,ul ol,ol ul,ol ol{margin-bottom:0}.list-unstyled{padding-left:0;list-style:none}.list-inline{padding-left:0;list-style:none;margin-left:-5px}.list-inline>li{display:inline-block;padding-left:5px;padding-right:5px}dl{margin-top:0;margin-bottom:20px}dt,dd{line-height:1.428571429}dt{font-weight:bold}dd{margin-left:0}.dl-horizontal dd:before,.dl-horizontal dd:after{content:" ";display:table}.dl-horizontal dd:after{clear:both}@media(min-width: 768px){.dl-horizontal dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.dl-horizontal dd{margin-left:180px}}abbr[title],abbr[data-original-title]{cursor:help;border-bottom:1px dotted #777}.initialism{font-size:90%;text-transform:uppercase}blockquote{padding:10px 20px;margin:0 0 20px;font-size:17.5px;border-left:5px solid #eee}blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child{margin-bottom:0}blockquote footer,blockquote small,blockquote .small{display:block;font-size:80%;line-height:1.428571429;color:#777}blockquote footer:before,blockquote small:before,blockquote .small:before{content:"— "}.blockquote-reverse,blockquote.pull-right{padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0;text-align:right}.blockquote-reverse footer:before,.blockquote-reverse small:before,.blockquote-reverse .small:before,blockquote.pull-right footer:before,blockquote.pull-right small:before,blockquote.pull-right .small:before{content:""}.blockquote-reverse footer:after,.blockquote-reverse small:after,.blockquote-reverse .small:after,blockquote.pull-right footer:after,blockquote.pull-right small:after,blockquote.pull-right .small:after{content:" —"}address{margin-bottom:20px;font-style:normal;line-height:1.428571429}@font-face{font-family:"FontAwesome";src:url("../../font-awesome/fonts/fontawesome-webfont.eot");src:url("../../font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"),url("../../font-awesome/fonts/fontawesome-webfont.woff") format("woff"),url("../../font-awesome/fonts/fontawesome-webfont.ttf") format("truetype");font-weight:normal;font-style:normal}.o_icon{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.o_block_bottom,.o_header_with_buttons,.o_block,.o_button_group{margin-bottom:1em}.o_block_top,.o_block,.o_button_group{margin-top:1em}.o_block_small_bottom,.o_block_small{margin-bottom:.5em}.o_block_small_top,.o_block_small{margin-top:.5em}.o_block_large_bottom,.o_block_large{margin-bottom:2em}.o_block_large_top,.o_block_large{margin-top:2em}.o_block_move_up{margin-top:-1em}.o_block_move_up_small{margin-top:-0.5em}.o_block_move_up_large{margin-top:-2em}.o_block_inline,.o_block_inline_right,.o_block_inline_both,.o_block_inline_left{display:inline-block;vertical-align:top}.o_block_inline_left,.o_block_inline_both{margin-left:.5em}.o_block_inline_right,.o_block_inline_both{margin-right:.5em}.o_block_centered_wrapper{display:table;width:100%;height:100%}.o_block_centered_content{display:table-cell;vertical-align:middle;text-align:center}.o_block_imagebg{background-repeat:no-repeat;background-position:center;background-size:cover}.o_block_imagebg span{padding:2px;background-color:rgba(255,255,255,.8)}.o_block_imagebg h1,.o_block_imagebg h2,.o_block_imagebg h3,.o_block_imagebg h4,.o_block_imagebg h5,.o_block_imagebg p{padding:2px;background-color:rgba(255,255,255,.8);display:inline-block}.o_block_imagebg h1:after,.o_block_imagebg h2:after,.o_block_imagebg h3:after,.o_block_imagebg h4:after,.o_block_imagebg h5:after,.o_block_imagebg p:after{content:" ";display:block}.o_scrollblock,div.b_scrollblock{overflow-x:auto;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-overflow-scrolling:touch}.o_button_group{text-align:center}.o_button_group a,.o_button_group input,.o_button_group button,.o_button_group .btn-group{margin-right:5px;margin-bottom:.5em}.o_button_group a:last-child,.o_button_group input:last-child,.o_button_group button:last-child,.o_button_group .btn-group:last-child{margin-right:0}.o_button_group .btn-group a,.o_button_group .btn-group input,.o_button_group .btn-group button{margin-right:0;margin-bottom:0}.o_button_group .dropdown-menu{text-align:left}.o_button_group_left{text-align:left}.o_button_group_right{text-align:right}.o_button_group_top{margin-top:0}.o_button_group_bottom{margin-bottom:0}.o_header_with_buttons:before,.o_header_with_buttons:after{content:" ";display:table}.o_header_with_buttons:after{clear:both}.o_header_with_buttons h1,.o_header_with_buttons h2,.o_header_with_buttons h3,.o_header_with_buttons h4,.o_header_with_buttons h5,.o_header_with_buttons h6{display:inline-block}.o_header_with_buttons .o_button_group{margin-bottom:0;float:right}.o_header_with_buttons h1+.o_button_group{margin-top:28px}.o_header_with_buttons h2+.o_button_group{margin-top:24px}.o_header_with_buttons h3+.o_button_group{margin-top:20px}.o_header_with_buttons h4+.o_button_group{margin-top:10px}.o_header_with_buttons h5+.o_button_group{margin-top:6.6666666667px}.o_header_with_buttons h6+.o_button_group{margin-top:5px}#o_main_center .o_header_with_buttons h2+.o_button_group{margin-top:0}.panel-heading.o_header_with_buttons{margin-bottom:0}.o_button_textstyle:before{content:"["}.o_button_textstyle:after{content:"]"}.panel-imagebg{background-repeat:no-repeat;background-position:center;background-size:cover}.panel-imagebg.panel-default>.panel-heading{background-color:rgba(255,255,255,.8);border-bottom:transparent}.panel-imagebg .panel-body span{padding:2px;background-color:rgba(255,255,255,.8)}.panel-placeholder{border-width:2px;border-style:dashed;border-color:#ccc;border-radius:10px;background-color:#fcfcfc}.panel-placeholder .panel-body{padding:10px}.panel-placeholder .panel-body:nth-child(n+2){border-top:none}.panel-placeholder .panel-body h3:nth-child(1),.panel-placeholder .panel-body h4:nth-child(1),.panel-placeholder .panel-body h5:nth-child(1){margin-top:0}.panel-placeholder .panel-body .o_button_group{margin-bottom:0}.panel-placeholder .panel-heading{border-top-right-radius:8px;border-top-left-radius:8px;border-width:2px;border-style:dashed;border-color:#ccc;border-top:none;border-left:none;border-right:none;color:#888;font-weight:bold}.panel-placeholder .panel-footer{border-bottom-right-radius:8px;border-bottom-left-radius:8px;border-width:2px;border-style:dashed;border-color:#ccc;border-bottom:none;border-left:none;border-right:none}.o_xsmall,.b_xsmall,p.b_xsmall,div.b_xsmall{font-size:11px}.o_small,.b_small,p.b_small,div.b_small{font-size:12px}.o_large,.b_large,p.b_large,div.b_large{font-size:18px}.o_xlarge,.b_xlarge,p.b_xlarge,div.b_xlarge{font-size:20px}.o_disabled,.b_disabled,p.b_disabled,div.b_disabled{color:#777 !important;cursor:default}.o_disabled:hover,.b_disabled:hover{color:#777 !important}.o_dimmed,.b_dimmed,p.b_dimmed,div.b_dimmed{opacity:.4;filter:alpha(opacity=40)}.o_selected,.b_selected,p.b_selected,div.b_selected{font-weight:bold}.o_deleted,.b_deleted,p.b_deleted,div.b_deleted{text-decoration:line-through}.o_highlight_on_hover:hover{background-color:#f5f5f5}.o_clickable{cursor:pointer}.o_ochre{color:#c8a959}.o_blue{color:#12223f}.o_undecorated:hover,.o_undecorated:focus,.o_disabled:hover,.b_disabled:hover,.o_disabled:focus,.b_disabled:focus{text-decoration:none}.o_copy_code,pre,.b_copy_code,p.b_copy_code,div.b_copy_code,code{font-family:Menlo,Monaco,Consolas,"Courier New",monospace;padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;border-radius:4px}.o_copy_code input,.o_copy_code textarea,pre input,.b_copy_code input,code input,pre textarea,.b_copy_code textarea,code textarea{border:0;width:90%;background:transparent}.o_nowrap,.b_copy_code,p.b_copy_code,div.b_copy_code,code{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.o_titled_wrapper .o_content{margin-top:20px}.o_video,.o_video video,.b_video,.o_video_wrapper{display:inline-block;max-width:100%;height:auto;max-width:100%}.o_image,.o_image img,.b_image,img{display:inline-block;max-width:100%;height:auto;max-width:100%}.mejs__fullscreen .mejs__mediaelement iframe[id$=youtube_iframe]{width:100% !important;height:100% !important}.o_figure_caption_bottom{display:inline-block;min-width:50%}.o_figure_caption_bottom figure{display:table}.o_image_vertical_center_helper{display:inline-block;height:100%;vertical-align:middle}.o_image_vertical_center_helper+.o_image img{vertical-align:middle}.o_with_hyphens{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;hyphens:auto}.o_page_margins{padding:25px}.o_dragable{cursor:move;cursor:-webkit-grab;cursor:-moz-grab;cursor:grab}.o_dragable:active{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}.o_draging{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}.o_draging:active{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}.o_scrollable_wrapper{overflow:hidden;position:relative}.o_scrollable_wrapper.o_scrollable_right:after,.o_scrollable_wrapper.o_scrollable_left:before{opacity:1;will-change:opacity}.o_scrollable_wrapper:after{right:-10px}.o_scrollable_wrapper:before{left:-10px}.o_scrollable_wrapper:before,.o_scrollable_wrapper:after{bottom:0px;content:"";pointer-events:none;position:absolute;top:20px;box-shadow:0 3px 8px 0 rgba(0,0,0,.2);opacity:0;transition:.3s opacity;width:10px;z-index:3}.o_scrollable{width:100%;position:relative;overflow-y:hidden;overflow-x:auto;-ms-overflow-style:-ms-autohiding-scrollbar;-webkit-overflow-scrolling:touch}.o_hidden{visibility:hidden}.o_spacer_left{margin-left:2.5em}.o_circle{display:block;width:16px;height:16px;border-radius:8px}.o_table_wrapper .o_circle{margin-top:2px}.o_square{display:inline-block;width:20px;height:20px}.o_square.o_square_border{border:solid 1px #ccc}.o_info,.b_info,p.b_info,div.b_info{margin:20px 0;padding:20px;border-left:3px solid #777;background-color:#eee}.o_info h2,.o_info h3,.o_info h4,.o_info h5,.b_info h2,.b_info h3,.b_info h4,.b_info h5{color:#777}.o_note,.b_note,p.b_note,div.b_note{margin:20px 0;padding:20px;border-left:3px solid #31708f;background-color:#d9edf7}.o_note h2,.o_note h3,.o_note h4,.o_note h5,.b_note h2,.b_note h3,.b_note h4,.b_note h5{color:#31708f}.o_important,.b_important,p.b_important,div.b_important{margin:20px 0;padding:20px;border-left:3px solid #f4d000;background-color:#fff1a4}.o_important h2,.o_important h3,.o_important h4,.o_important h5,.b_important h2,.b_important h3,.b_important h4,.b_important h5{color:#f4d000}.o_success,.b_success,p.b_success,div.b_success{margin:20px 0;padding:20px;border-left:3px solid #3c763d;background-color:#dff0d8}.o_success h2,.o_success h3,.o_success h4,.o_success h5,.b_success h2,.b_success h3,.b_success h4,.b_success h5{color:#3c763d}.o_warning,.b_warning,p.b_warning,div.b_warning,.o_instruction{margin:20px 0;padding:20px;border-left:3px solid #8a6d3b;background-color:#fcf8e3}.o_warning h2,.o_warning h3,.o_warning h4,.o_warning h5,.b_warning h2,.o_instruction h2,.b_warning h3,.o_instruction h3,.b_warning h4,.o_instruction h4,.b_warning h5,.o_instruction h5{color:#8a6d3b}.o_error,.b_error,p.b_error,div.b_error{margin:20px 0;padding:20px;border-left:3px solid #a94442;background-color:#f2dede}.o_error h2,.o_error h3,.o_error h4,.o_error h5,.b_error h2,.b_error h3,.b_error h4,.b_error h5{color:#a94442}.o_instruction{margin-top:0px;border-left:none;padding-top:10px;padding-bottom:10px}.o_instruction>.o_button_group{margin-bottom:0px}div.o_callout_overlay{position:fixed;top:0;left:0;width:100%;height:100%;zoom:1;background:#000;opacity:0;filter:alpha(opacity=0)}.o_alert_info{position:fixed;top:-100%;left:0;display:none;z-index:2000;width:100%;text-align:center}.o_alert_info .alert{position:relative;width:auto;margin:0 auto;text-align:left;-webkit-box-shadow:0px 1px 5px -1px rgba(0,0,0,.15);box-shadow:0px 1px 5px -1px rgba(0,0,0,.15)}.o_alert_info .alert .o_alert_close{float:right;color:#777}.o_alert_info .alert .o_alert_close:hover{color:#555}@media(min-width: 768px){.o_alert_info .alert{width:600px}}#o_msg_sticky,#o_msg_sticky_preview{position:relative;color:#a94442;background-color:#f2dede;border:1px solid #ebccd1;padding:10px 16px 10px 60px;min-height:40px;margin:-20px 0 20px 0}#o_msg_sticky .o_icon_info_msg,#o_msg_sticky_preview .o_icon_info_msg{position:absolute;left:10px;top:5px;font-size:40px}#o_msg_sticky.o_msg_sticky_fullscreen,#o_msg_sticky_preview.o_msg_sticky_fullscreen{margin-top:0}@media(min-width: 768px){.modal .o_modal_fullwidth{width:90%}}@media(min-width: 992px){.modal .o_modal_fullwidth{width:80%}}.modal .modal-header h4{color:#342c24;font-weight:500;font-family:inherit;line-height:1.1}.modal.o_offcanvas_right_modal .modal-dialog{margin:-1px -1px 0 auto;width:90vw;height:100vh}.modal.o_offcanvas_right_modal .modal-dialog .modal-content{border-radius:0;min-height:100%}.o_ltop_modal_panel .modal{z-index:70040}img.o_emoticons_angel{background:url(../light/images/emoticons/smiley-angel.png);width:16px;height:16px}img.o_emoticons_angry{background:url(../light/images/emoticons/smiley-mad.png);width:16px;height:16px}img.o_emoticons_blushing{background:url(../light/images/emoticons/smiley-red.png);width:16px;height:16px}img.o_emoticons_confused{background:url(../light/images/emoticons/smiley-confuse.png);width:16px;height:16px}img.o_emoticons_cool{background:url(../light/images/emoticons/smiley-cool.png);width:16px;height:16px}img.o_emoticons_cry{background:url(../light/images/emoticons/smiley-cry.png);width:16px;height:16px}img.o_emoticons_devil{background:url(../light/images/emoticons/smiley-evil.png);width:16px;height:16px}img.o_emoticons_grin{background:url(../light/images/emoticons/smiley-grin.png);width:16px;height:16px}img.o_emoticons_kiss{background:url(../light/images/emoticons/smiley-kiss.png);width:16px;height:16px}img.o_emoticons_ohoh{background:url(../light/images/emoticons/smiley-eek.png);width:16px;height:16px}img.o_emoticons_sad{background:url(../light/images/emoticons/smiley-sad.png);width:16px;height:16px}img.o_emoticons_sick{background:url(../light/images/emoticons/smiley-sad-blue.png);width:16px;height:16px}img.o_emoticons_smile{background:url(../light/images/emoticons/smiley.png);width:16px;height:16px}img.o_emoticons_tongue{background:url(../light/images/emoticons/smiley-razz.png);width:16px;height:16px}img.o_emoticons_ugly{background:url(../light/images/emoticons/smiley-money.png);width:16px;height:16px}img.o_emoticons_weird{background:url(../light/images/emoticons/smiley-nerd.png);width:16px;height:16px}img.o_emoticons_wink{background:url(../light/images/emoticons/smiley-wink.png);width:16px;height:16px}img.o_emoticons_worried{background:url(../light/images/emoticons/smiley-roll-blue.png);width:16px;height:16px}img.o_emoticons_up{background:url(../light/images/emoticons/thumb-up.png);width:16px;height:16px}img.o_emoticons_down{background:url(../light/images/emoticons/thumb.png);width:16px;height:16px}.o_edusharing_selection iFrame{width:100%;height:900px}.o_edusharing_container.o_in_iframe .edusharing_metadata_wrapper{margin-top:5px}.o_edusharing_container.o_in_iframe .edusharing_metadata.open{position:unset;margin:0;padding:0}.o_edusharing_container.o_in_iframe .edusharing_metadata.open:before{content:unset;border:unset;top:unset;position:unset;left:unset;width:unset;height:unset}.o_edusharing_container.o_hide_license .license{display:none}.o_edusharing_container.o_hide_infos .edusharing_metadata_wrapper{display:none}.o_edusharing_left{display:block;float:left;margin:5px 5px 5px 0}.o_edusharing_right{display:block;float:right;margin:5px 0 5px 5px}.o_edusharing_inline{display:inline-block;margin:0 5px}.o_edusharing_none{display:block;float:none;margin:5px 0}.eduContainer{width:180px;color:rgba(0,0,0,0)}.edusharing_spinner_inner{width:30px;height:50px;display:inline-block}.edusharing_spinner1{background:url("../light/images/edusharing/hex1.svg");background-repeat:no-repeat;background-position:center;background-size:50px;width:50px;height:50px;-webkit-animation:spin 2s infinite ease-in;-moz-animation:spin 2s infinite ease-in;-ms-animation:spin 2s infinite ease-in;-o-animation:spin 2s infinite ease-in;animation:spin 2s infinite ease-in;-webkit-animation-delay:.1s;-moz-animation-delay:.1s;animation-delay:.1s}.edusharing_spinner2{background:url("../light/images/edusharing/hex2.svg");background-repeat:no-repeat;background-position:center;background-size:50px;width:50px;height:50px;-webkit-animation:spin 2s infinite ease-in;-moz-animation:spin 2s infinite ease-in;-ms-animation:spin 2s infinite ease-in;-o-animation:spin 2s infinite ease-in;animation:spin 2s infinite ease-in;-webkit-animation-delay:.25s;-moz-animation-delay:.25s;animation-delay:.25s}.edusharing_spinner3{background:url("../light/images/edusharing/hex3.svg");background-repeat:no-repeat;background-position:center;background-size:50px;width:50px;height:50px;-webkit-animation:spin 2s infinite ease-in;-moz-animation:spin 2s infinite ease-in;-ms-animation:spin 2s infinite ease-in;-o-animation:spin 2s infinite ease-in;animation:spin 2s infinite ease-in;-webkit-animation-delay:.5s;-moz-animation-delay:.5s;animation-delay:.5s}@-webkit-keyframes spin{0%{transform:scale(1)}50%{transform:scale(0.5)}100%{transform:scale(1)}}@-moz-keyframes spin{0%{transform:scale(1)}50%{transform:scale(0.5)}100%{transform:scale(1)}}@-ms-keyframes spin{0%{transform:scale(1)}50%{transform:scale(0.5)}100%{transform:scale(1)}}@-o-keyframes spin{0%{transform:scale(1)}50%{transform:scale(0.5)}100%{transform:scale(1)}}@keyframes spin{0%{transform:scale(1)}50%{transform:scale(0.5) rotate(90deg)}100%{transform:scale(1)}}.textEntryInteraction input,.textEntryInteraction span.o_input_value{margin:-1px 2px;line-height:90%;vertical-align:middle;font-size:13.72px;line-height:1.5;border:1px solid #999;background:#fff;padding:1px 1px;color:#2d2926;max-width:100%}.textEntryInteraction input:valid,.textEntryInteraction input:disabled,.textEntryInteraction input.o_input_value_wrapper,.textEntryInteraction span.o_input_value:valid,.textEntryInteraction span.o_input_value:disabled,.textEntryInteraction span.o_input_value.o_input_value_wrapper{color:#2d2926;-webkit-text-fill-color:#2d2926;background:#d9edf7;border:1px solid #bce8f1}body{font-family:Roboto,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-size:14px;line-height:1.428571429;color:#2d2926;background-color:#fff}a{color:#209d9e;text-decoration:none}a:hover,a:focus{color:#177374;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}h1{color:#342c24}body>h1:first-child{margin-top:0}h2{color:#342c24}h3{color:#342c24}h4{color:#342c24}h5{color:#342c24}h5{color:#342c24}hr{border-top:1px solid #eee}.o_user_content_block a{color:#209d9e;text-decoration:none}.o_user_content_block a:hover,.o_user_content_block a:focus{color:#177374;text-decoration:underline}.b_border_box,p.b_border_box,div.b_border_box{border:1px solid #777;padding:1em;border-top-right-radius:3px;border-top-left-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px}table td{line-height:1.428571429;vertical-align:top}table.b_default td,table.b_default th{padding:8px;vertical-align:top}table.b_grid{width:99.5%;background:transparent;border-collapse:separate}table.b_grid td,table.b_grid th{padding:8px;border:1px solid #777}table.b_grid thead td,table.b_grid th{background:#eee;font-weight:bold}table.b_border{width:99.5%;background:transparent;border-collapse:collapse}table.b_border td,table.b_border th{padding:8px;border:1px solid #777}table.b_border thead td,table.b_border th{background:#eee;font-weight:bold}table.b_borderless{width:99.5%;background:transparent;border-collapse:separate}table.b_borderless td,table.b_borderless th{padding:8px;border:0 !important}table.b_borderless thead td,table.b_borderless th{font-weight:bold}table.b_full{width:99.5%}table.b_middle{background:transparent}table.b_middle td{vertical-align:middle}table.b_gray{border-collapse:collapse}table.b_gray td,table.b_gray th{padding:8px;background:#eee;border:1px solid #fbfbfb}table.b_gray thead td,table.b_gray th{background:#d5d5d5;font-weight:bold}table.b_gray tbody tr:nth-child(even) td{background:#fbfbfb;border:1px solid #eee}table.b_gray.b_no_stripes tbody tr:nth-child(even) td{background:#eee;border:1px solid #fbfbfb}@media print{table.b_gray td,table.b_gray th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#eee !important}table.b_gray thead td,table.b_gray th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#d5d5d5 !important}table.b_gray tbody tr:nth-child(even) td{-webkit-print-color-adjust:exact;color-adjust:exact;background:#fbfbfb !important}}table.b_blue{border-collapse:collapse}table.b_blue td,table.b_blue th{padding:8px;background:#d9edf7;border:1px solid #eef7fb}table.b_blue thead td,table.b_blue th{background:#afd9ee;font-weight:bold}table.b_blue tbody tr:nth-child(even) td{background:#eef7fb;border:1px solid #d9edf7}table.b_blue.b_no_stripes tbody tr:nth-child(even) td{background:#d9edf7;border:1px solid #eef7fb}@media print{table.b_blue td,table.b_blue th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#d9edf7 !important}table.b_blue thead td,table.b_blue th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#afd9ee !important}table.b_blue tbody tr:nth-child(even) td{-webkit-print-color-adjust:exact;color-adjust:exact;background:#eef7fb !important}}table.b_green{border-collapse:collapse}table.b_green td,table.b_green th{padding:8px;background:#dff0d8;border:1px solid #eef7ea}table.b_green thead td,table.b_green th{background:#c1e2b3;font-weight:bold}table.b_green tbody tr:nth-child(even) td{background:#eef7ea;border:1px solid #dff0d8}table.b_green.b_no_stripes tbody tr:nth-child(even) td{background:#dff0d8;border:1px solid #eef7ea}@media print{table.b_green td,table.b_green th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#dff0d8 !important}table.b_green thead td,table.b_green th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#c1e2b3 !important}table.b_green tbody tr:nth-child(even) td{-webkit-print-color-adjust:exact;color-adjust:exact;background:#eef7ea !important}}table.b_yellow{border-collapse:collapse}table.b_yellow td,table.b_yellow th{padding:8px;background:#fcf8e3;border:1px solid #fefefa}table.b_yellow thead td,table.b_yellow th{background:#f7ecb5;font-weight:bold}table.b_yellow tbody tr:nth-child(even) td{background:#fefefa;border:1px solid #fcf8e3}table.b_yellow.b_no_stripes tbody tr:nth-child(even) td{background:#fcf8e3;border:1px solid #fefefa}@media print{table.b_yellow td,table.b_yellow th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#fcf8e3 !important}table.b_yellow thead td,table.b_yellow th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#f7ecb5 !important}table.b_yellow tbody tr:nth-child(even) td{-webkit-print-color-adjust:exact;color-adjust:exact;background:#fefefa !important}}table.b_red{border-collapse:collapse}table.b_red td,table.b_red th{padding:8px;background:#f2dede;border:1px solid #f9f0f0}table.b_red thead td,table.b_red th{background:#e4b9b9;font-weight:bold}table.b_red tbody tr:nth-child(even) td{background:#f9f0f0;border:1px solid #f2dede}table.b_red.b_no_stripes tbody tr:nth-child(even) td{background:#f2dede;border:1px solid #f9f0f0}@media print{table.b_red td,table.b_red th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#f2dede !important}table.b_red thead td,table.b_red th{-webkit-print-color-adjust:exact;color-adjust:exact;background:#e4b9b9 !important}table.b_red tbody tr:nth-child(even) td{-webkit-print-color-adjust:exact;color-adjust:exact;background:#f9f0f0 !important}}table.a_responsive{width:auto !important}@media(max-width: 768px){.a_responsive td{display:block}}.b_align_normal{text-align:left}.b_align_center{text-align:center}.b_align_inverse{text-align:right}.b_align_justified{text-align:justify}a.b_link_extern{color:#209d9e}a.b_link_extern:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-right:.5em;content:""}a.b_link_mailto{color:#209d9e}a.b_link_mailto:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-right:.5em;content:""}a.b_link_forward{color:#209d9e}a.b_link_forward:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding-right:.5em;content:""}img.b_float_left{float:left;margin:0 2em 2em 0}img.b_float_left_clear{clear:both;margin:0 2em 2em 0;display:block}img.b_float_right{float:right;margin:0 0 2em 2em}img.b_float_right_clear{clear:both;display:block;margin:0 0 2em auto}img.b_float_left_clear_nomargin{float:left;display:block;margin:0 0 0 0}img.b_centered{clear:both;display:block;margin:0 auto 2em auto}img.b_circle{border-radius:50%}img.b_with_border{border:1px solid #ddd;padding:3px;border-top-right-radius:4px;border-top-left-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px}p.b_figure_title{margin:20px 0 5px 0;font-size:85%;font-family:inherit}p.b_figure_caption{clear:both;margin:5px 0 20px 0}caption,figcaption,.o_caption{padding-top:8px;padding-bottom:8px;color:#777;text-align:left;font-style:italic}.b_clear_float,p.b_clear_float,div.b_clear_float{clear:both}figure.align-left{float:left}figure.align-right{float:right}figure.image{display:inline-block;border:1px solid gray;margin:0 2px 0 1px;background:#f5f2f0}figure.image img{margin:8px 8px 0 8px}figure.image figcaption{margin:6px 8px 6px 8px;text-align:center}img.align-left{float:left}img.align-right{float:right}.mce-toc{border:1px solid gray}.mce-toc h2{margin:4px}.mce-toc li{list-style-type:none}figure.image.align-center{display:block;text-align:center}figure.image.align-left{float:none;display:block;text-align:left}figure.image.align-left figcaption{text-align:left}figure.image.align-right{float:none;display:block;text-align:right}figure.image.align-right figcaption{text-align:right}figure.image{margin:2em 0 2em 0;border:0;background:none}figure.image img.b_float_left,figure.image img.b_float_left_clear,figure.image img.b_float_right,figure.image img.b_float_right_clear,figure.image img.b_float_left_clear_nomargin,figure.image img.b_centered{float:none;display:inline-block;margin:0}figure.image figcaption{font-size:90%;font-style:italic}@media print{a[href]:after{content:""}#o_header_wrapper,#o_offcanvas_right,#o_navbar_wrapper,#o_footer_wrapper,#o_toplink,#o_main_left,#o_main_right,#o_main_toolbar,#jsMath_PrintWarning,.o_segments,.o_table_toolbar,.o_breadcrumb,.o_bookmark,.o_noti,.o_opener,.o_hide,.o_noprint{display:none !important}.o_container_offcanvas{max-width:100%;margin-left:5px;margin-right:5px}.o_print_break_avoid{page-break-inside:avoid}.o_print_break_before{page-break-before:always}.o_print_break_after{clear:both;page-break-after:always}.btn{display:none}.o_form textarea,.o_form .form-control.textarea_disabled{-webkit-print-color-adjust:exact;color-adjust:exact;background:#fff !important;height:auto !important;color:#000 !important;resize:none}#o_comment_form_link,.o_comments form{display:none !important}.o_avatar{display:none}body.o_dmz{background:#fff !important;-webkit-print-color-adjust:exact;color-adjust:exact}.modal-content{border:0}.modal-header{display:none}.modal-body{padding:0}.modal-dialog{margin:0 !important;width:100% !important;height:100% !important;background:#fff !important;-webkit-print-color-adjust:exact;color-adjust:exact}.progress{page-break-inside:avoid;-webkit-print-color-adjust:exact;color-adjust:exact;background-color:rgba(0,0,0,.1) !important;border:1px solid rgba(0,0,0,.5)}.progress-bar{-webkit-print-color-adjust:exact;background-color:#000 !important;border:10px solid #000}.ui-slider.ui-slider-horizontal.ui-widget-content{-webkit-print-color-adjust:exact;color-adjust:exact;background:#f9f9f9 !important}.ui-slider.ui-slider-horizontal.ui-widget-content .ui-slider-handle{-webkit-print-color-adjust:exact;color-adjust:exact}.o_has_value.ui-slider.ui-slider-horizontal.ui-widget-content .ui-slider-handle{background-color:#209d9e !important}.o_no_value.ui-slider.ui-slider-horizontal.ui-widget-content .ui-slider-handle{border:none !important}.radial-progress{page-break-inside:avoid;-webkit-print-color-adjust:exact;color-adjust:exact}.radial-progress.o_progress_failed .percentage:before{color:#efe5e5 !important}.radial-progress.o_progress_passed .percentage:before{color:#e5efe5 !important}.radial-progress[data-progress="0"] .percentage:before{display:none}body{margin:0;zoom:.6}table,figure,figure{page-break-inside:avoid}h1,h2,h3,h4,h5,h6{page-break-after:avoid}.o_disclaimer .o_disclaimer_content{max-height:none}}/*# sourceMappingURL=content.css.map */
