<script>
function o_activateCourseNode(nodeid) {
	console.log('Activate', nodeid);
	if (!o_info.linkbusy) {
		window.focus();
		$f.openFfXHREvent(false, false, true), 'activateCourseNode', nodeid);
		o_scrollToElement('#o_top');
	}
}
function o_activateCourseTool(toolname) {
	if (!o_info.linkbusy) {
		window.focus();
		$f.openFfXHREvent(false, false, true), 'activateCourseTool', toolname);
		o_scrollToElement('#o_top');
	}
}
</script>

#if($infos.isEmpty())
	<div class="o_empty_state">
		<div class="o_empty_visual"><i class="o_icon o_icon_empty_indicator"></i><i class="o_icon o_icon_news"></i></div>
		<h3 class="o_empty_msg">
			$r.translate("display.no_messages")
		</h3>
		#if($r.available("new_message"))
		<div class="o_empty_hint">
			$r.translate("display.no_messages.hint")
		</div>
		<div class="o_empty_action">
			$r.render("new_message", "btn-primary")
		</div>
		#end		
	</div>
#else 
	#if($r.available("new_message"))
		<div class="clearfix">
			<div class="o_infomsg_create_button pull-right">
				$r.render("new_message")
			</div>
		</div>
	#end	
#end

<div class="clearfix"><div class="o_infomsg o_block_with_datecomp">
	#foreach($info in $infos)
		<div class="o_msg o_block_large clearfix">
			<div class="o_head">
				$r.render("info.date.${info.getKey()}")
				<h3 class="o_title">
					$r.escapeHtml(${info.getTitle()})				
				</h3>
				<div class="o_meta">
					$info.getInfos()
					#if($info.isModified()), 
						<div class="text-warning">$info.getModifier()</div>
					#end
				</div>
			</div>
			#if($info.getMessage())
				<div class="o_content">$info.getMessage()</div>
			#end 
			
			#if($r.isNotEmpty($info.attachments))
			#foreach($attachment in $info.attachments)
				<div class="o_attachment">
					#set($fname = $attachment.name)
					<a href="${attachmentMapper}/$info.key/$fname" target="_blank">
						<span class="o_filename"><i class="o_icon o_icon-fw $r.getFiletypeIconCss($fname)"></i> $r.escapeHtml($fname)</span>
						<span class="o_size">
							 - $r.formatBytes($attachment.getSize())
						</span>
					</a>	
				</div>
			#end
			#end
			#if($r.available("info.delete.${info.getKey()}") or $r.available("info.edit.${info.getKey()}"))
				<div class="o_button_group">
					#if($r.available("info.edit.${info.getKey()}"))
						$r.render("info.edit.${info.getKey()}")
					#end
					#if($r.available("info.delete.${info.getKey()}"))
						$r.render("info.delete.${info.getKey()}")
					#end
				</div>
			#end
		</div>
	#end
</div></div>
<div class="o_button_group">
	#if($r.available("display.old_messages"))
		$r.render("display.old_messages")
	#end
	#if($r.available("display.new_messages"))
		$r.render("display.new_messages")
	#end
</div>
